{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Your Account" %}
{% endblock head_title %}
{% block content %}
    <div class="vstack gap-4">
        <div class="card alert alert-warning border-warning p-0 mb-3 col-12">
            <div class="card-header h5">Gyrinx Beta</div>
            <div class="card-body">
                <p class="card-text">
                    Thanks for helping out. Please read the <a href="https://gyrinx.app/beta/">Beta Testing page</a> and join our <a href="https://discord.gg/NjMVRSEMAz" target="_new">Discord server</a> to give feedback.
                </p>
                <p class="card-text">
                    <a href="https://gyrinx.app/about/">Learn more about Gyrinx</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
