{% extends "account/base_manage.html" %}
{% load i18n group_tags %}
{% block head_title %}
    {% trans "Your Account" %}
{% endblock head_title %}
{% block content %}
    <div class="vstack gap-4">
        <div>
            <h2 class="mb-0">{{ user.username }}</h2>
            <p class="text-secondary mb-0 mt-1">Member since {{ user.date_joined|date:"F Y" }}</p>
        </div>
        <div class="row g-2 g-md-3">
            <div class="col-4">
                <div class="bg-body-tertiary rounded p-3 text-center">
                    <div class="fs-3 fw-semibold">{{ stats.lists_count }}</div>
                    <div class="text-secondary fs-7">Lists</div>
                </div>
            </div>
            <div class="col-4">
                <div class="bg-body-tertiary rounded p-3 text-center">
                    <div class="fs-3 fw-semibold">{{ stats.campaign_gangs_count }}</div>
                    <div class="text-secondary fs-7">Campaign Gangs</div>
                </div>
            </div>
            <div class="col-4">
                <div class="bg-body-tertiary rounded p-3 text-center">
                    <div class="fs-3 fw-semibold">{{ stats.fighters_count }}</div>
                    <div class="text-secondary fs-7">Fighters</div>
                </div>
            </div>
            <div class="col-4">
                <div class="bg-body-tertiary rounded p-3 text-center">
                    <div class="fs-3 fw-semibold">{{ stats.campaigns_count }}</div>
                    <div class="text-secondary fs-7">Campaigns</div>
                </div>
            </div>
            <div class="col-4">
                <div class="bg-body-tertiary rounded p-3 text-center">
                    <div class="fs-3 fw-semibold">{{ stats.battles_count }}</div>
                    <div class="text-secondary fs-7">Battles</div>
                </div>
            </div>
            {% if show_packs %}
                <div class="col-4">
                    <div class="bg-body-tertiary rounded p-3 text-center">
                        <div class="fs-3 fw-semibold">{{ stats.packs_count }}</div>
                        <div class="text-secondary fs-7">Content Packs</div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
