{% extends "core/layouts/base.html" %}
{% load allauth %}
{% block head_title %}
    Content
{% endblock head_title %}
{% block content %}
    <div id="content" class="container my-5">
        <div class="col-lg-12 px-0 vstack gap-5">
            <div>
                <h1>Gangs</h1>
                <div class="vstack gap-4">
                    {% for house in houses %}
                        <div>
                            <h2 class="py-2">{{ house.name }}</h2>
                            <div class="vstack gap-3">
                                {% for fighter in house.fighters %}
                                    <div>
                                        <div class="hstack gap-2">
                                            <h3 class="py-2 h5 mb-0">{{ fighter.name }}</h3>
                                            <div class="py-2 ms-auto">{{ fighter.cost }}¢</div>
                                        </div>
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" scope="col">M</th>
                                                    <th class="text-center" scope="col">WS</th>
                                                    <th class="text-center" scope="col">BS</th>
                                                    <th class="text-center" scope="col">S</th>
                                                    <th class="text-center" scope="col">T</th>
                                                    <th class="text-center" scope="col">W</th>
                                                    <th class="text-center" scope="col">I</th>
                                                    <th class="text-center" scope="col">A</th>
                                                    <th class="text-center table-warning" scope="col">Ld</th>
                                                    <th class="text-center table-warning" scope="col">Cl</th>
                                                    <th class="text-center table-warning" scope="col">Wil</th>
                                                    <th class="text-center table-warning" scope="col">Int</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    {% for stat in fighter.statline %}
                                                        {% if stat.highlight %}
                                                            <td class="text-center table-warning">{{ stat.value }}</td>
                                                        {% else %}
                                                            <td class="text-center">{{ stat.value }}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                                <tr>
                                                    <th scope="row" colspan="3">Rules</th>
                                                    <td colspan="12">{{ fighter.ruleline|join:", " }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                {% empty %}
                                    <div class="py-2">No fighters available.</div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <h1 class="h3">Equipment</h1>
                <div class="vstack gap-4">
                    <table class="table table-sm table-borderless table-hover fs-7">
                        {% for category, items in categories.items %}
                            <thead>
                                <tr class="align-bottom">
                                    <th colspan="11" class="pt-4">
                                        <h2 class="h4 mb-0">{{ category }}</h2>
                                    </th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th class="text-center" scope="col" colspan="2">Rng</th>
                                    <th class="text-center" scope="col" colspan="2">Acc</th>
                                    <th class="text-center" scope="col" colspan="5"></th>
                                </tr>
                                <tr>
                                    <th scope="col">
                                        <span class="invisible">Weapon</span>
                                    </th>
                                    <th class="text-center" scope="col">S</th>
                                    <th class="text-center" scope="col">L</th>
                                    <th class="text-center" scope="col">S</th>
                                    <th class="text-center" scope="col">L</th>
                                    <th class="text-center" scope="col">Str</th>
                                    <th class="text-center" scope="col">Ap</th>
                                    <th class="text-center" scope="col">D</th>
                                    <th class="text-center" scope="col">Am</th>
                                    <th scope="col">Traits</th>
                                    <th scope="col" class="text-end">Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                    <tr class="align-bottom">
                                        <td colspan="10" class="pt-3">
                                            <h3 class="h5 mb-0">{{ item.name }}</h3>
                                        </td>
                                        <td class="text-end">
                                            <strong>{{ item.cost_display }}</strong>
                                        </td>
                                    </tr>
                                    {% for profile in item.profiles %}
                                        <tr class="align-top">
                                            <td>
                                                {% if profile.name %}{{ profile.name }}{% endif %}
                                            </td>
                                            {% for stat in profile.statline %}<td class="text-center">{{ stat.value }}</td>{% endfor %}
                                            <td>{{ profile.traitline|join:", " }}</td>
                                            <td class="text-end">{{ profile.cost_display }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
