{% extends "core/layouts/base.html" %}
{% load allauth custom_tags %}
{% block head_title %}
    Delete - {{ assign.content_equipment.name }} - {{ fighter.fully_qualified_name }} - {{ list.name }}
{% endblock head_title %}
{% block content %}
    {% url back_url list.id fighter.id as full_back_url %}
    {% include "core/includes/back.html" with url=full_back_url %}
    <div class="col-12 col-md-8 col-lg-6 px-0 vstack gap-3">
        <h1 class="h3">Delete from {{ fighter.fully_qualified_name }}</h1>
        <form action="{% url action_url list.id fighter.id assign.id %}"
              method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete the {{ assign.content_equipment.name }} from {{ fighter.name }}?</p>
            {% if assign.content_equipment.category.name == "Vehicles" or assign.content_equipment.category.parent and assign.content_equipment.category.parent.name == "Vehicles" %}
                <div class="alert alert-warning" role="alert">
                    <i class="bi bi-exclamation-triangle-fill me-2"></i>
                    <strong>Warning:</strong> This will delete the vehicle's entire profile. Are you sure you wish to proceed?
                    <br>
                    <br>
                    <strong>Note:</strong> If you want to instead move the vehicle to another fighter or to your stash, use the Reassign option.
                </div>
            {% else %}
                <div class="alert alert-info" role="alert">
                    <i class="bi bi-info-circle-fill me-2"></i>
                    <strong>Tip:</strong> If you want to move this equipment to another fighter or to your stash instead of deleting it, use the Reassign option.
                </div>
            {% endif %}
            <div class="mt-3">
                <input type="hidden" name="remove" value="1">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{{ full_back_url }}" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
