{% extends "core/layouts/base.html" %}
{% load allauth %}
{% block head_title %}
    Advancements - {{ fighter.name }}
{% endblock head_title %}
{% block content %}
    <div class="vstack gap-3">
        <div class="vstack gap-1">
            {% include "core/includes/back_to_list.html" with url_name="core:list" back_text="Back to list" %}
            <h2 class="mb-0">Advancements for {{ fighter.name }}</h2>
        </div>
        <ul class="fs-5 list-group list-group-flush">
            <li class="list-group-item">
                <span class="badge text-bg-primary">{{ fighter.xp_current }} XP</span> Current
            </li>
            <li class="list-group-item">
                <span class="badge text-bg-secondary">{{ fighter.xp_total }} XP</span> Total
            </li>
        </ul>
        <div>
            {% if advancements %}
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Advancement</th>
                                <th>
                                    <span class="visually-hidden">XP Cost</span>
                                </th>
                                <th>
                                    <span class="visually-hidden">Cost Increase</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for advancement in advancements %}
                                <tr>
                                    <td>{{ advancement.created|date:"Y-m-d" }}</td>
                                    <td>
                                        {% if advancement.advancement_type == advancement.ADVANCEMENT_STAT %}
                                            <span class="badge text-bg-primary">Stat</span>
                                        {% elif advancement.advancement_type == advancement.ADVANCEMENT_SKILL %}
                                            <span class="badge text-bg-success">Skill</span>
                                        {% else %}
                                            <span class="badge text-bg-warning">Other</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if advancement.advancement_type == advancement.ADVANCEMENT_STAT %}
                                            {{ advancement.get_stat_increased_display }}
                                        {% elif advancement.advancement_type == advancement.ADVANCEMENT_SKILL %}
                                            {{ advancement.skill.name }}
                                        {% else %}
                                            {{ advancement.description }}
                                        {% endif %}
                                    </td>
                                    <td>{{ advancement.xp_cost }} XP</td>
                                    <td>+{{ advancement.cost_increase }}¢</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="text-muted">No advancements yet.</p>
            {% endif %}
            <div class="d-flex align-items-center">
                <a href="{% url 'core:list-fighter-advancement-start' list.id fighter.id %}"
                   class="btn btn-primary">
                    <i class="bi-plus-lg"></i> Add Advancement
                </a>
                <a href="{% url 'core:list' list.id %}#{{ fighter.id }}"
                   class="btn btn-link">Back to list</a>
            </div>
        </div>
    </div>
{% endblock content %}
