{% extends "core/layouts/base.html" %}
{% load allauth custom_tags %}
{% block head_title %}
    Delete - {{ assign.content_equipment.name }} - {{ fighter.fully_qualified_name }} - {{ list.name }}
{% endblock head_title %}
{% block content %}
    {% url back_url list.id fighter.id as full_back_url %}
    {% include "core/includes/back.html" with url=full_back_url %}
    <div class="col-12 col-md-8 col-lg-6 px-0 vstack gap-3">
        <h1 class="h3">Delete {{ assign.content_equipment.name }} from {{ fighter.fully_qualified_name }}</h1>
        <form action="{% url action_url list.id fighter.id assign.id %}"
              method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete the {{ assign.content_equipment.name }} from {{ fighter.name }}?</p>
            {% if assign.child_fighter %}
                <div class="alert alert-danger mb-last-0" role="alert">
                    <p>
                        <i class="bi bi-exclamation-triangle-fill me-2"></i>
                        <strong>Warning:</strong> This will also <strong>delete {{ assign.child_fighter.fully_qualified_name }}</strong>, including any modifications, gear, weapons and upgrades.
                    </p>
                    <p>This action cannot be undone.</p>
                </div>
                <p>
                    If you want to instead keep this {{ assign.content_equipment.name }} in your stash, or assign it to another fighter, use the <a href="{% url 'core:list-fighter-gear-reassign' list.id fighter.id assign.id %}">Reassign</a> option.
                </p>
            {% else %}
                <div class="alert alert-info" role="alert">
                    <i class="bi bi-info-circle-fill me-2"></i>
                    <strong>Tip:</strong> If you want to move this equipment to another fighter or to your stash instead of deleting it, use the Reassign option.
                </div>
            {% endif %}
            {% if list.is_campaign_mode %}
                <div class="form-check mt-3">
                    <input class="form-check-input"
                           type="checkbox"
                           name="refund"
                           id="refund"
                           checked>
                    <label class="form-check-label" for="refund">Apply refund (+{{ assign.cost_int }}¢ to credits)</label>
                </div>
            {% endif %}
            <div class="mt-3">
                <input type="hidden" name="remove" value="1">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{{ full_back_url }}" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
