{% extends "core/layouts/base.html" %}
{% load allauth custom_tags %}
{% block head_title %}
    Confirm Advancement - {{ fighter.name }}
{% endblock head_title %}
{% block content %}
    <div class="vstack gap-4">
        <div class="vstack gap-1">
            {% include "core/includes/back.html" with text="Back to Advancements" url=advancements_url %}
            <h2 class="mb-0">New Advancement for {{ fighter.name }}</h2>
            <h3 class="h5 mb-0">Confirm Advancement</h3>
        </div>
        <div>
            Advance {{ details.description }} for
            <span class="badge text-bg-primary">{{ details.xp_cost }} XP</span>
            (+{{ details.cost_increase|default:"0" }}¢)?
        </div>
        <div class="hstack gap-3">
            <a href="{% url 'core:list-fighter-advancement-type' list.id fighter.id %}?campaign_action_id={{ details.campaign_action_id }}"
               class="icon-link">
                <i class="bi-arrow-left"></i> Back
            </a>
            <form method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">
                    <i class="bi-check-lg"></i> Confirm Advancement
                </button>
            </form>
        </div>
    </div>
{% endblock content %}
