{% extends "core/layouts/base.html" %}
{% load allauth custom_tags %}
{% block head_title %}
    Manage attributes - {{ list.name }}
{% endblock head_title %}
{% block content %}
    {% url 'core:list' list.id as list_url %}
    {% url 'core:list-attributes-manage' list.id as manage_url %}
    {% include "core/includes/back.html" with url=list_url text="Back to list" %}
    <div class="row g-3 mb-3">
        <div class="col-lg-8">
            <h2 class="mb-3">Attributes</h2>
            {% if list.all_attributes %}
                <table class="table table-sm fs-7">
                    <tbody>
                        {% for attribute in list.all_attributes %}
                            <tr>
                                <td class="ps-0">{{ attribute.name }}</td>
                                <td>
                                    {% if attribute.assignments %}
                                        {{ attribute.assignments|join:", " }}
                                    {% else %}
                                        <span class="text-muted">Not set</span>
                                    {% endif %}
                                </td>
                                <td class="text-end pe-0">
                                    {% if not list.archived %}
                                        <a href="{% url 'core:list-attribute-edit' list.id attribute.id %}?return_url={{ manage_url|urlencode }}"
                                           class="icon-link link-secondary small">
                                            <i class="bi-pencil" aria-hidden="true"></i>
                                            Edit
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-muted">No attributes available for this list.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
