{% extends "core/layouts/base.html" %}
{% load allauth %}
{% block head_title %}
    Select Advancement - {{ fighter.name }}
{% endblock head_title %}
{% block content %}
    <div class="col-12 col-md-8 col-lg-6 vstack gap-3">
        <div class="vstack gap-3">
            <div class="vstack gap-1">
                {% include "core/includes/back.html" with text="Back to Advancements" url=advancements_url %}
                <h2 class="mb-0">New Advancement for {{ fighter.name }}</h2>
                <h3 class="h5 mb-0">
                    Choose {{ skill_type|title }} Skill
                    {% if is_random %}Set{% endif %}
                </h3>
            </div>
        </div>
        <form method="post" class="vstack gap-3">
            {% csrf_token %}
            {% if is_random %}
                <div>
                    <label for="{{ form.category.id_for_label }}" class="form-label">Select Skill Set</label>
                    {{ form.category }}
                    <div class="form-text">{{ form.category.help_text }}</div>
                    {% if form.category.errors %}<div class="invalid-feedback d-block">{{ form.category.errors.0 }}</div>{% endif %}
                </div>
                <div class="alert alert-warning p-2 fs-7">
                    <i class="bi-exclamation-triangle"></i> The skill will chosen <em>automatically</em> when you click Confirm Advancement.
                </div>
            {% else %}
                <div>
                    <label for="{{ form.skill.id_for_label }}" class="form-label">Select Skill</label>
                    {{ form.skill }}
                    <div class="form-text">{{ form.skill.help_text }}</div>
                    {% if form.skill.errors %}<div class="invalid-feedback d-block">{{ form.skill.errors.0 }}</div>{% endif %}
                </div>
            {% endif %}
            <div class="hstack gap-3">
                <a href="{% url 'core:list-fighter-advancement-type' list.id fighter.id %}"
                   class="icon-link">
                    <i class="bi-arrow-left"></i> Back
                </a>
                <button type="submit" class="btn btn-success">
                    <i class="bi-check-lg"></i> Confirm Advancement
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
