{% extends "core/layouts/base.html" %}
{% load allauth %}
{% block head_title %}
    Advancement Roll - {{ fighter.name }}
{% endblock head_title %}
{% block content %}
    <div class="col-12 col-md-8 col-lg-6 vstack gap-4">
        <div class="vstack gap-1">
            {% url "core:list-fighter-advancements" list.id fighter.id as advancements_url %}
            {% include "core/includes/back.html" with text="Back to Advancements" url=advancements_url %}
            <div class="progress mb-1"
                 role="progressbar"
                 aria-label="Basic example"
                 aria-valuenow="33"
                 aria-valuemin="0"
                 aria-valuemax="100">
                {# djlint:off #}
                <div class="progress-bar" style="width: 33%">Step 1 of 3</div>
                {# djlint:on #}
            </div>
            <h2 class="mb-0">New Advancement for {{ fighter.name }}</h2>
            <h3 class="h5 mb-0">Roll for Advancement?</h3>
        </div>
        <form method="post" class="vstack gap-2">
            {% csrf_token %}
            {% if form.non_field_errors %}<div class="alert alert-danger mb-last-0">{{ form.non_field_errors }}</div>{% endif %}
            <p>You can choose to roll 2D6 for your advancement.</p>
            {{ form.roll_dice }}
            {% if is_campaign_mode %}
                <div class="alert alert-info">
                    <i class="bi-info-circle"></i>
                    The roll will <em>immediately</em> be added to the campaign action log.
                </div>
            {% endif %}
            <div class="hstack gap-3">
                <button type="submit" class="btn btn-primary">Roll 2D6</button>
                <a href="{% url 'core:list-fighter-advancement-type' list.id fighter.id %}"
                   class="btn btn-success">Spend XP</a>
            </div>
        </form>
    </div>
{% endblock content %}
