{% extends "core/layouts/base.html" %}
{% load allauth custom_tags %}
{% block head_title %}
    Skills - {{ form.instance.name }} - {{ form.instance.content_fighter.name }} - {{ list.name }}
{% endblock head_title %}
{% block content %}
    {% include "core/includes/back.html" with text=list.name %}
    <div class="col-lg-12 px-0 vstack gap-3">
        <h1 class="h3">Skills: {{ form.instance.name }} - {{ form.instance.content_fighter.name }}</h1>
        <div class="table-responsive">
            <table class="table table-sm align-middle">
                <tbody>
                    {% for cat in skill_cats %}
                        <tr>
                            <th>{{ cat.name }}</th>
                            <td>
                                {% if cat.primary %}Primary{% endif %}
                                {% if cat.secondary %}Secondary{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for cat in special_cats %}
                        <tr class="table-warning">
                            <th>{{ cat.name }}</th>
                            <td>
                                {% if cat.primary %}Primary{% endif %}
                                {% if cat.secondary %}Secondary{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <form action="{% url 'core:list-fighter-skills-edit' list.id form.instance.id %}"
              method="post">
            {% csrf_token %}
            {{ form }}
            <div class="mt-3">
                <input type="submit" class="btn btn-primary" value="Save">
                <a href="{% url 'core:list' list.id %}" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
