{% extends "core/layouts/base.html" %}
{% load allauth custom_tags %}
{% block head_title %}
    Gear - {{ fighter.name }} - {{ fighter.content_fighter.name }} - {{ list.name }}
{% endblock head_title %}
{% block content %}
    {% include "core/includes/back_to_list.html" with list=list %}
    <div class="col-12 px-0 vstack gap-3">
        <h1 class="h3">Gear: {{ fighter.name }} - {{ fighter.content_fighter.name }}</h1>
        {% if error_message %}
            <div class="alert alert-danger">
                <h4 class="alert-heading">Error</h4>
                <p>{{ error_message }}</p>
            </div>
        {% endif %}
        <div class="grid">
            {% include "core/includes/fighter_card_gear.html" with list=list fighter=fighter weapons_mode="gear" gear_mode="edit" %}
            {% url 'core:list-fighter-gear-edit' list.id fighter.id as filter_action %}
            {% include "core/includes/fighter_gear_filter.html" with action=filter_action %}
            {% regroup assigns|dictsort:"category" by cat as categories %}
            {% for category, assigns in categories %}
                <div class="card g-col-12 g-col-md-6">
                    <div class="card-header p-2">
                        <div class="vstack gap-1">
                            <div class="hstack">
                                <h3 class="h5 mb-0">{{ category }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body vstack p-0 px-sm-2 py-sm-1 {% flash "search" %}">
                        {% for assign in assigns %}
                            <form action="{% url 'core:list-fighter-gear-edit' list.id fighter.id %}"
                                  method="post"
                                  id="gear-{{ assign.equipment.id }}"
                                  class="p-2 p-sm-0 py-sm-2 hstack gap-2">
                                {% csrf_token %}
                                <input type="hidden"
                                       name="content_equipment"
                                       value="{{ assign.equipment.id }}">
                                <input type="hidden" name="assign_id" value="{{ assign.id }}">
                                {% comment %} Propagate the query params {% endcomment %}
                                {% if request.GET.filter %}<input type="hidden" name="filter" value="{{ request.GET.filter }}">{% endif %}
                                {% if request.GET.q %}<input type="hidden" name="q" value="{{ request.GET.q }}">{% endif %}
                                <div class="vstack gap-1">
                                    <h4 class="h6 mb-1">
                                        {{ assign.base_name }}
                                        <span class="fs-7 text-muted">
                                            {% if assign.base_cost_int != 0 %}({{ assign.base_cost_display }}){% endif %}
                                        </span>
                                    </h4>
                                    {% if assign.upgrades_display|length > 0 %}
                                        <legend class="fs-7 mb-0">
                                            <i class="bi-arrow-up-circle"></i> {{ assign.equipment.upgrade_stack_name }}
                                        </legend>
                                        <div class="hstack gap-1">
                                            <div>
                                                <input type="radio"
                                                       name="upgrades_field"
                                                       value=""
                                                       id="upgrade-none"
                                                       form="gear-{{ assign.equipment.id }}"
                                                       class="btn-check">
                                                <label class="btn btn-sm" for="upgrade-none">None</label>
                                            </div>
                                            <div class="d-flex flex-grow-1 btn-group">
                                                {% for ud in assign.upgrades_display %}
                                                    <input type="radio"
                                                           name="upgrades_field"
                                                           value="{{ ud.upgrade.id }}"
                                                           id="upgrade-{{ ud.upgrade.id }}"
                                                           form="gear-{{ assign.equipment.id }}"
                                                           class="btn-check">
                                                    <label class="btn btn-outline-secondary btn-sm"
                                                           for="upgrade-{{ ud.upgrade.id }}">
                                                        {{ ud.upgrade.name }}
                                                        {% if ud.cost_int != 0 %}({{ ud.cost_display }}){% endif %}
                                                    </label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <button type="submit"
                                            class="btn btn-outline-primary btn-sm"
                                            form="gear-{{ assign.equipment.id }}">
                                        <i class="bi-plus"></i>
                                        Add {{ assign.base_name }}
                                        {% if assign.base_cost_int != 0 %}({{ assign.base_cost_display }}){% endif %}
                                    </button>
                                </div>
                            </form>
                        {% endfor %}
                    </div>
                </div>
            {% empty %}
                <div class="g-col-12 {% flash "search" %}">
                    {% if not request.GET.filter %}
                        No gear found in the equipment list of this fighter.
                    {% else %}
                        No gear found.
                    {% endif %}
                    {% if request.GET.q %}
                        <a href="?{% qt_rm request "q" "flash" %}">Clear your search</a>.
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
