{% extends "core/layouts/base.html" %}
{% load allauth custom_tags %}
{% block head_title %}
    Archived Fighters - {{ list.name }}
{% endblock head_title %}
{% block content %}
    {% include "core/includes/back.html" with text=list.name %}
    <div class="col-lg-12 px-0 vstack gap-3">
        <h1 class="h3 mb-0">Archived Fighters</h1>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for fighter in list.archived_fighters %}
                        <tr class="align-middle">
                            <td>{{ fighter.name }}</td>
                            <td>{{ fighter.content_fighter.name }}</td>
                            {% if not fighter.linked_fighter.exists %}
                                <td>
                                    <form action="{% url 'core:list-fighter-archive' list.id fighter.id %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="archive" value="0">
                                        <input type="submit" class="btn btn-link" value="Restore">
                                    </form>
                                </td>
                            {% else %}
                                <td>
                                    <span class="btn btn-link link-secondary"
                                          disabled
                                          bs-tooltip
                                          data-bs-toggle="tooltip"
                                          title="This fighter is assigned to {{ fighter.linked_fighter.get.list_fighter.name }} and cannot be restored directly">
                                        Restore
                                    </span>
                                </td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" class="text-center">No archived fighters</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
