{% extends "core/layouts/base.html" %}
{% load allauth %}
{% block head_title %}
    Advancements - {{ fighter.name }}
{% endblock head_title %}
{% block content %}
    {% include "core/includes/list_common_header.html" with list=list link_list="true" fighter=fighter fighter_url_name="core:list-fighter-advancements" %}
    <div class="col-12 col-md-8 col-lg-6 px-0 vstack gap-3">
        <h2>Advancements for {{ fighter.name }}</h2>
        <ul class="fs-5 mb-3 list-group list-group-flush">
            <li class="list-group-item">
                <span class="badge text-bg-primary">{{ fighter.xp_current }} XP</span> Current
                {% if list.owner_cached == user %}
                    <a href="{% url 'core:list-fighter-xp-edit' list.id fighter.id %}"
                       class="fs-7 link-secondary link-underline-opacity-25 link-underline-opacity-100-hover ms-2">Add XP</a>
                {% endif %}
            </li>
            <li class="list-group-item">
                <span class="badge text-bg-secondary">{{ fighter.xp_total }} XP</span> Total
            </li>
        </ul>
        <div>
            {% if advancements %}
                <div class="table-responsive">
                    <table class="table table-borderless table-sm">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Advancement</th>
                                <th>XP</th>
                                <th>Rating</th>
                                {% if list.owner_cached == user %}
                                    <th>
                                        <span class="visually-hidden">Actions</span>
                                    </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for advancement in advancements %}
                                <tr>
                                    <td>
                                        {% if advancement.advancement_type == advancement.ADVANCEMENT_STAT %}
                                            Stat
                                        {% elif advancement.advancement_type == advancement.ADVANCEMENT_SKILL %}
                                            Skill
                                        {% else %}
                                            Other
                                        {% endif %}
                                    </td>
                                    <td>{{ advancement.display_description }}</td>
                                    <td>{{ advancement.xp_cost }} XP</td>
                                    <td>+{{ advancement.cost_increase }}¢</td>
                                    {% if list.owner_cached == user %}
                                        <td class="text-end fs-7">
                                            {% if not advancement.archived %}
                                                <a href="{% url 'core:list-fighter-advancement-delete' list.id fighter.id advancement.id %}"
                                                   class="link-secondary icon-link link-underline-opacity-25 link-underline-opacity-100-hover"
                                                   title="Remove advancement">
                                                    <i class="bi-trash"></i> Remove
                                                </a>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="text-muted">No advancements yet.</p>
            {% endif %}
            <div class="d-flex align-items-center">
                <a href="{% url 'core:list-fighter-advancement-start' list.id fighter.id %}"
                   class="btn btn-primary">
                    <i class="bi-plus-lg"></i> Add Advancement
                </a>
                <a href="{% url 'core:list' list.id %}#{{ fighter.id }}"
                   class="btn btn-link">Cancel</a>
            </div>
        </div>
    </div>
{% endblock content %}
