{% extends "core/layouts/base.html" %}
{% load allauth custom_tags humanize %}
{% block head_title %}
    {{ user.username }}
{% endblock head_title %}
{% block content %}
    {% include "core/includes/home.html" %}
    <div class="px-0 row g-3">
        <div class="col-lg-4">
            <div class="card card-body vstack gap-2">
                <h1 class="h2 mb-0">{{ user.username }}</h1>
                <div>
                    <i class="bi-clock"></i> Joined: {{ user.date_joined|naturaltime }}
                </div>
                {% if user.is_staff %}
                    <div class="hstack gap-2">
                        <i class="bi-trophy-fill"></i>
                        <span class="badge text-bg-success">Staff</span>
                    </div>
                {% endif %}
                <div>
                    <i class="bi-list"></i> {{ public_lists|length }} List{{ public_lists|length|pluralize }}
                </div>
            </div>
        </div>
        <div class="col-lg-8 vstack gap-2">
            <h2 class="h4">Public Lists</h2>
            {% for list in public_lists %}
                <div class="hstack gap-3 position-relative">
                    {% comment %} {% include "core/includes/list.html" with list=list %} {% endcomment %}
                    <div class="d-flex flex-column gap-1">
                        <div class="hstack column-gap-2 row-gap-1 flex-wrap align-items-baseline">
                            <h2 class="mb-0 h5">
                                <a href="{% url 'core:list' list.id %}">{{ list.name }}</a>
                            </h2>
                            <div>
                                <i class="bi-person"></i> {{ list.owner_cached }}
                            </div>
                        </div>
                        <div class="hstack column-gap-2 row-gap-1 flex-wrap">
                            <div>{{ list.content_house_name }}</div>
                            <div class="badge text-bg-primary">{{ list.cost_int_cached }}</div>
                        </div>
                    </div>
                    <div class="ms-auto d-md-none">
                        <a href="{% url 'core:list' list.id %}" class="p-3 stretched-link">
                            <i class="bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            {% empty %}
                <div class="py-2">No lists yet.</div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
