{% extends "core/layouts/base.html" %}
{% block head_title %}
    Select Vehicle - {{ list.name }}
{% endblock head_title %}
{% block content %}
    {% include "core/includes/list_common_header.html" with list=list link_list="true" %}
    <div class="col-12 col-md-8 col-lg-6">
        <div class="vstack gap-1">
            {% include "core/includes/step_progress.html" with step=1 total_steps=3 title="Add Vehicle" %}
            <h3 class="h5 mb-0">Select a vehicle</h3>
        </div>
        <form method="post" class="vstack gap-4 mt-3">
            {% csrf_token %}
            <div>
                <label for="{{ form.vehicle_equipment.id_for_label }}" class="form-label">{{ form.vehicle_equipment.label }}</label>
                {{ form.vehicle_equipment.errors }}
                {{ form.vehicle_equipment }}
            </div>
            <div class="hstack gap-3 align-items-center">
                <button type="submit"
                        name="action"
                        value="select_crew"
                        class="btn btn-primary">
                    Select Crew fighter <i class="bi-arrow-right"></i>
                </button>
                or
                <button type="submit"
                        name="action"
                        value="add_to_stash"
                        class="btn btn-secondary">
                    Add to Stash <i class="bi-arrow-right"></i>
                </button>
                <a href="{% url "core:list" list.id %}" class="link-secondary">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
