{% extends "core/layouts/base.html" %}
{% block head_title %}
    Select Crew - {{ list.name }}
{% endblock head_title %}
{% block content %}
    {% include "core/includes/list_common_header.html" with list=list link_list="true" %}
    <div class="col-12 col-md-8 col-lg-6">
        <div class="vstack gap-1">
            {% include "core/includes/step_progress.html" with step=2 total_steps=3 title="Add Vehicle" %}
            <h3 class="h5 mb-0">Select crew for {{ vehicle_equipment.name }} ({{ vehicle_equipment.cost }}¢)</h3>
        </div>
        <form method="post" class="vstack gap-4 mt-3">
            {% csrf_token %}
            {{ form.action }}
            <div>
                <label for="{{ form.crew_name.id_for_label }}" class="form-label">{{ form.crew_name.label }}</label>
                {{ form.crew_name.errors }}
                {{ form.crew_name }}
            </div>
            <div>
                <label for="{{ form.crew_fighter.id_for_label }}" class="form-label">{{ form.crew_fighter.label }}</label>
                {{ form.crew_fighter.errors }}
                {{ form.crew_fighter }}
            </div>
            <div class="hstack gap-3 align-items-center">
                <button type="submit" class="btn btn-primary">
                    Next <i class="bi-arrow-right"></i>
                </button>
                <a href="{% url "core:list" list.id %}" class="link-secondary">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
