{% extends "core/layouts/base.html" %}
{% block head_title %}
    Select Vehicle - {{ list.name }}
{% endblock head_title %}
{% block content %}
    {% include "core/includes/list_common_header.html" with list=list link_list="true" %}
    <div class="col-12 col-lg-8 col-xl-6">
        <div class="vstack gap-1">
            <div class="progress mb-1"
                 role="progressbar"
                 aria-label="Step 1 of 3"
                 aria-valuenow="33"
                 aria-valuemin="0"
                 aria-valuemax="100">
                {# djlint:off #}
                <div class="progress-bar" style="width: 33%">Step 1 of 3</div>
                {# djlint:on #}
            </div>
            <h1 class="h2 mb-0">Add Vehicle</h1>
            <h3 class="h5 mb-0">Select a vehicle</h3>
        </div>
        <form method="post" class="vstack gap-4 mt-3">
            {% csrf_token %}
            <div>
                <label for="{{ form.vehicle_equipment.id_for_label }}" class="form-label">{{ form.vehicle_equipment.label }}</label>
                {{ form.vehicle_equipment.errors }}
                {{ form.vehicle_equipment }}
            </div>
            <div class="hstack gap-3 align-items-center">
                <button type="submit"
                        name="action"
                        value="select_crew"
                        class="btn btn-primary">
                    Select Crew fighter <i class="bi-arrow-right"></i>
                </button>
                or
                <button type="submit"
                        name="action"
                        value="add_to_stash"
                        class="btn btn-secondary">
                    Add to Stash <i class="bi-arrow-right"></i>
                </button>
                <a href="{% url "core:list" list.id %}" class="link-secondary">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
