{% extends "core/layouts/base.html" %}
{% load custom_tags %}
{% block head_title %}
    {% if existing_note %}
        Edit battle report
    {% else %}
        Add battle report
    {% endif %}
    - {{ battle.name }}
{% endblock head_title %}
{% block content %}
    <c-back url="{{ return_url }}" text="Back" />
    <div class="col-12 col-md-8 col-lg-6 px-0">
        <h1 class="h3">
            {% if existing_note %}
                Edit battle report
            {% else %}
                Add battle report
            {% endif %}
        </h1>
        <p class="text-secondary">{{ battle.name }}</p>
        <form method="post" class="vstack gap-3">
            <c-errors :form="form" class="mb-0" />
            {% csrf_token %}
            <input type="hidden" name="return_url" value="{{ return_url }}">
            {{ form.media }}
            {{ form }}
            <div class="hstack gap-3 align-items-center">
                <c-btn type="submit" variant="success">
                    <i class="bi-check-lg"></i>
                    {% if existing_note %}
                        Update report
                    {% else %}
                        Add report
                    {% endif %}
                </c-btn>
                <a href="{{ return_url }}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
