// Include functions first
@import "bootstrap/scss/functions";

$enable-cssgrid: true;
$font-size-base: 0.875rem;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$custom-font-sizes: (
    7: $font-size-base * 0.9,
);

$font-sizes: map-merge($font-sizes, $custom-font-sizes);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


//
// Custom styles
//

.hero {
    height: 25vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

a[href="#"][data-bs-toggle="tooltip"] {
    cursor: help;
}

.table-group-divider {
    // This is a custom class to add a border between table groups. The !important
    // is required so that it shows up even in .table-borderless tables.
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

fieldset legend {
    font-size: $font-size-base;
}

label {
    margin-bottom: 0.25rem;
}

.errorlist {
    @extend .list-unstyled;
    color: var(--bs-danger);
}

@keyframes flash-warn {
    from {
        background-color: var(--bs-warning-bg-subtle) !important;
    }
    to {
        background-color: inherit;
    }
}

.flash-warn, .flash-warn td {
    animation: flash-warn 2s ease-in;
}
