// Include functions first
@import "bootstrap/scss/functions";

$enable-cssgrid: true;
$font-size-base: 0.875rem;

// Font configuration
$font-family-sans-serif:
    "mynor-variable",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;

$blue: #0771ea;
$indigo: #5111dc;
$purple: #5d3cb0;
$pink: #c02d83;
$red: #cb2b48;
$orange: #ea5d0c;
$yellow: #e8a10a;
$green: #1a7b49;
$teal: #1fb27e;
$cyan: #10bdd3;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$custom-font-sizes: (
    7: $font-size-base * 0.9,
);

$font-sizes: map-merge($font-sizes, $custom-font-sizes);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

//
// Custom styles
//

.hero {
    height: 25vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

// Links

[data-bs-toggle="tooltip"] {
    cursor: help;
}

.linked {
    @extend .link-underline-opacity-25;
    @extend .link-underline-opacity-100-hover;
    @extend .link-offset-1;
}

.link-sm {
    @extend .link-underline-opacity-25;
    @extend .link-underline-opacity-100-hover;
    @extend .link-offset-1;
    @extend .fs-7;
}

.tooltipped {
    @extend .link-underline-opacity-50;
    @extend .link-underline-info;
    @extend .link-underline-opacity-100-hover;
    @extend .link-offset-1;
    @extend .text-decoration-underline;
}

// Tables

.table-group-divider {
    // This is a custom class to add a border between table groups. The !important
    // is required so that it shows up even in .table-borderless tables.
    border-top: var(--bs-border-width) var(--bs-border-style)
        var(--bs-border-color) !important;
}

// Forms

fieldset legend {
    font-size: $font-size-base;
}

label {
    margin-bottom: 0.25rem;
}

// Menu

.dropdown-menu-mw {
    min-width: 25em;
    width: 100%;
    max-width: 35em;
}

// Spacing

.mb-last-0 > :last-child {
    margin-bottom: 0 !important;
}

// Custom

.errorlist {
    @extend .list-unstyled;
    color: var(--bs-danger);
}

// Flash

@keyframes flash-warn {
    from {
        background-color: var(--bs-warning-bg-subtle) !important;
    }
    to {
        background-color: inherit;
    }
}

.flash-warn,
.flash-warn td {
    animation: flash-warn 2s ease-in;
}

// Images

img {
    max-width: 100%;
    height: auto;
}

.img-link-transform img {
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
    transform-style: preserve-3d;
    will-change: transform, box-shadow;
}

.img-link-transform:hover img {
    transform: perspective(500px) scale(1.02) rotateY(-6deg) rotateX(4deg);
    box-shadow: 3px 5px 30px rgba(0, 0, 0, 0.2);
}
.img-link-transform:active img {
    transform: perspective(500px) scale(1.02) rotateY(-6deg) rotateX(4deg)
        translateY(2px);
}

.flatpage-content img {
    max-width: 100%;
    height: auto;
}

@include media-breakpoint-up(xl) {
    .flatpage-content img {
        max-width: 133%;
    }
}

// Color Forms

.color-radio-label:hover {
    transform: scale(1.1);
    z-index: 1;
}
.color-radio-input:checked + .color-radio-label {
    box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.5);
    transform: scale(1.05);
}
.color-radio-input:focus + .color-radio-label {
    box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.25);
}

// Flatpage navigation
@include media-breakpoint-up(md) {
    .flatpage-heading .stickyboi {
        top: 1em;
    }
}

// Sub-page links styling for narrow viewports
.flatpage-content .list-unstyled a {
    &:hover {
        background-color: var(--bs-gray-100);
    }
}
