{% extends "core/layouts/base.html" %}
{% block head_title %}
    New Battle - {{ campaign.name }}
{% endblock head_title %}
{% block content %}
    {% url 'core:campaign' campaign.id as campaign_url %}
    {% include "core/includes/back.html" with url=campaign_url text="Back to Campaign" %}
    <div class="col-12 col-md-8 col-lg-6 px-0 vstack gap-3">
        <h1 class="h3">New Battle</h1>
        <p class="text-secondary">Create a new battle report for {{ campaign.name }}</p>
        <form method="post" class="vstack gap-3">
            {% if form.non_field_errors %}
                <div class="alert alert-danger alert-icon mb-0" role="alert">
                    <i class="bi-exclamation-triangle"></i>
                    <div>{{ form.non_field_errors }}</div>
                </div>
            {% endif %}
            {% csrf_token %}
            {{ form }}
            <div class="hstack gap-3 align-items-center">
                <button type="submit" class="btn btn-success">Create Battle</button>
                <a href="{{ campaign_url }}" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
