asgiref==3.11.0
bandit==1.9.2
beautifulsoup4==4.14.3
bleach==6.3.0
click==8.3.1
daphne==4.2.1
Django==6.0
django-allauth==65.13.1
django-csp==4.0
django-debug-toolbar==6.1.0
django-extensions==4.1
django-multiselectfield==1.0.1
django-polymorphic==4.2.0
django-recaptcha==4.1.0
django-simple-history==3.10.1
django-storages[google]==1.14.6
django-tinymce==5.0.0
djlint==1.36.4
docutils==0.22.3
fido2==2.0.0
google-cloud-logging==3.12.1
google-cloud-sqlcommenter==2.0.0
jsonschema==4.25.1
jupyter==1.1.1
nbstripout==0.8.2
nodeenv==1.9.1
opentelemetry-exporter-gcp-trace>=1.8.0
opentelemetry-instrumentation-asgi>=0.49b0
opentelemetry-instrumentation-django>=0.49b0
opentelemetry-instrumentation-logging>=0.49b0
opentelemetry-propagator-gcp>=1.8.0

# OpenTelemetry - Cloud Trace integration
opentelemetry-sdk>=1.28.0
Pillow==12.0.0
playwright==1.56.0
pre-commit==4.5.0
psycopg2-binary==2.9.11
pydantic==2.12.5
pydot==4.0.1
pyparsing==3.2.5
pytest==9.0.2
pytest-django==4.11.1
pytest-watcher==0.4.3
pytest-xdist==3.8.0
python-dotenv==1.2.1
qrcode==8.2
referencing==0.37.0
rich==14.2.0
ruff==0.14.8
setuptools==80.9.0
simpleeval==1.0.3
sqlparse==0.5.4
whitenoise==6.11.0
