asgiref==3.8.1
beautifulsoup4==4.13.3
click==8.1.8
daphne==4.1.2
Django==5.1.7
django-allauth==65.5.0
django-debug-toolbar==5.1.0
django-extensions==3.2.3
django-polymorphic==3.1.0
django-recaptcha==4.0.0
django-simple-history==3.8.0
django-tinymce==4.1.0
djlint==1.36.4
docutils==0.21.2
google-cloud-logging==3.11.4
jsonschema==4.23.0
jupyter==1.1.1
nbstripout==0.8.1
nodeenv==1.9.1
pre-commit==4.2.0
psycopg2-binary==2.9.10
pydot==3.0.4
pyparsing==3.2.3
pytest==8.3.5
pytest-django==4.10.0
pytest-watcher==0.4.3
python-dotenv==1.1.0
qrcode==8.0
referencing==0.36.2
ruff==0.11.2
setuptools==78.0.2
sqlparse==0.5.3
whitenoise==6.9.0
