{% extends "core/layouts/base.html" %}
{% load custom_tags %}
{% block head_title %}
    Campaigns
{% endblock head_title %}
{% block content %}
    <div class="col-lg-12 px-0 vstack gap-4">
        <div>
            <h1 class="mb-1">Campaigns</h1>
            <p class="fs-5 col-12 col-md-6 mb-0">
                Browse and manage campaigns.
                {% if user.is_authenticated %}
                    <br>
                    <a href="{% url 'core:campaigns-new' %}" class="linked">Create a new Campaign</a>.
                {% endif %}
            </p>
        </div>
        <div class="grid">
            {% url 'core:campaigns' as action %}
            {% include "core/includes/campaigns_filter.html" with action=action status_choices=status_choices show_sort=True %}
        </div>
        <div class="row g-4">
            <div class="col-12 col-xl-8 order-2 order-xl-1 vstack gap-4">
                {% for campaign in campaigns %}
                    {% include "core/campaign/includes/campaign_row.html" with campaign=campaign %}
                {% empty %}
                    <div class="py-2">No campaigns available.</div>
                {% endfor %}
                {% include "core/includes/pagination.html" %}
            </div>
            {% if pinned_campaigns %}
                <div class="col-12 col-xl-4 order-1 order-xl-2 vstack gap-4">
                    <div class="caps-label">Pinned</div>
                    {% for campaign in pinned_campaigns %}
                        {% include "core/campaign/includes/campaign_row.html" with campaign=campaign %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
