{% extends "n26/layouts/base.html" %}
{% load navigation %}
{% block head_title %}Assign {{ campaign_asset }}{% endblock head_title %}
{% block nav_switcher %}
    {% campaign_switcher campaign as campaign_switcher_ %}
    <c-n26.quick-switcher.of :switcher="campaign_switcher_" hotkey="f" />
{% endblock nav_switcher %}
{% block nav_items %}
    {% include "n26/_nav.html" with here="campaigns" %}
{% endblock %}
{% block content %}
    <c-n26.form-page action="{{ action }}"
                     title="Assign {{ campaign_asset }}"
                     :form="form"
                     submit_label="Assign"
                     cancel_url="{{ back }}">
        <c-slot name="breadcrumb">
            <c-ui.breadcrumbs>
                <c-ui.breadcrumbs.item>
                    <c-n26.user-link :user="campaign.owner" tone="current" />
                </c-ui.breadcrumbs.item>
                <c-ui.breadcrumbs.item href="{% url 'n26-campaigns' %}">Campaigns</c-ui.breadcrumbs.item>
                <c-ui.breadcrumbs.item href="{% url 'n26-campaign' campaign.pk %}">{{ campaign.name }}</c-ui.breadcrumbs.item>
                <c-ui.breadcrumbs.item :current="True">
                    Assign
                </c-ui.breadcrumbs.item>
            </c-ui.breadcrumbs>
        </c-slot>
        {% csrf_token %}
        {% include "n26/includes/campaign_assign_choices.html" %}
    </c-n26.form-page>
{% endblock content %}
