{% extends "account/base_manage.html" %}
{% load allauth %}
{% block head_title %}Change username{% endblock head_title %}
{% block content %}
    <c-n26.section title="Change username" class="max-w-xl">
        <p class="text-muted">Your current username is {{ user.username }}. Choose a username without an @ symbol.</p>
        {% element form method="post" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}{% element button type="submit" %}Save{% endelement %}<c-n26.link href="{% url 'account-settings' %}">Cancel</c-n26.link>{% endslot %}
        {% endelement %}
    </c-n26.section>
{% endblock content %}
