{% extends "core/layouts/base_print.html" %}
{% load static %}
{% block head_title %}
    Lore & notes | {{ list.name }}
{% endblock head_title %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'core/css/print_classic.css' %}">
{% endblock stylesheet %}
{% block content %}
    {% comment %} Classic cards always use the base "blank" plate {% endcomment %}
    {% include "core/includes/classic_sheet.html" with cards=classic_cards theme="blank" auto_print=True %}
{% endblock content %}
