{% extends "account/base_manage.html" %}
{% load allauth %}
{% block head_title %}Time zone{% endblock head_title %}
{% block content %}
    <c-n26.section title="Time zone" class="max-w-xl">
        {% element form method="post" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}{% element button type="submit" %}Save{% endelement %}<c-n26.link href="{% url 'account-settings' %}">Cancel</c-n26.link>{% endslot %}
        {% endelement %}
    </c-n26.section>
{% endblock content %}
