{# Equipment advancement form partial #}
{% if form.no_options_error_message %}
    <div class="alert alert-danger mb-3">
        <i class="bi-exclamation-triangle"></i>
        {{ form.no_options_error_message }}
    </div>
{% elif form.non_field_errors %}
    <div class="alert alert-danger mb-3">
        <i class="bi-exclamation-triangle"></i>
        {% for error in form.non_field_errors %}
            {{ error }}
            {% if not forloop.last %}<br>{% endif %}
        {% endfor %}
    </div>
{% endif %}
<div>
    <label for="{{ form.assignment.id_for_label }}" class="form-label">Select {{ advancement_name }}</label>
    {{ form.assignment }}
    <div class="form-text">{{ form.assignment.help_text }}</div>
    {% if form.assignment.errors %}<div class="invalid-feedback d-block">{{ form.assignment.errors.0 }}</div>{% endif %}
</div>
