{% load custom_tags %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            <i class="bi-chevron-left"></i>
            <a href="{% if url %}{{ url }}{% elif return_url %}{{ return_url }}{% else %}{% safe_referer "/" %}{% endif %}">
                {% if text %}
                    {{ text }}
                {% else %}
                    Back
                {% endif %}
            </a>
        </li>
    </ol>
</nav>
