{% comment %}
    Blank vehicle + crew card template for filling in at the table
{% endcomment %}
<div class="g-col-12 g-col-sm-6 g-col-md-6 g-col-xl-4 break-inside-avoid">
    <div class="grid h-100 gap-2 gap-md-0 border rounded p-2 bg-secondary-subtle">
        <div class="card g-col-12 g-col-md-6 border-end-md-0 rounded-end-md-0 break-inside-avoid">
            <div class="card-header p-2 hstack align-items-start">
                <div class="vstack gap-1">
                    <div class="hstack align-items-start">
                        <h3 class="h5 mb-0">&nbsp;</h3>
                        <div class="ms-auto hstack gap-2 flex-wrap"></div>
                    </div>
                    <div class="hstack gap-2">
                        <div>&nbsp;</div>
                    </div>
                </div>
                <div>
                    <div class="hstack gap-2 align-items-baseline justify-content-end">
                        <div class="fs-3">
                            <div class="badge text-body border fw-normal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="vstack p-0">
                    <table class="table table-sm table-borderless table-fixed mb-0">
                        <thead>
                            <tr>
                                <th class="text-center border-bottom fs-5" scope="col">M</th>
                                <th class="text-center border-bottom fs-5 border-start" scope="col">Fr</th>
                                <th class="text-center border-bottom fs-5" scope="col">Sd</th>
                                <th class="text-center border-bottom fs-5" scope="col">Rr</th>
                                <th class="text-center border-bottom fs-5 border-start" scope="col">HP</th>
                                <th class="text-center border-bottom fs-5" scope="col">Hnd</th>
                                <th class="text-center border-bottom fs-5" scope="col">Sv</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-nowrap">
                                <td class="text-center fs-5">&nbsp;</td>
                                <td class="text-center fs-5 border-start">&nbsp;</td>
                                <td class="text-center fs-5">&nbsp;</td>
                                <td class="text-center fs-5">&nbsp;</td>
                                <td class="text-center fs-5 border-start">&nbsp;</td>
                                <td class="text-center fs-5">&nbsp;</td>
                                <td class="text-center fs-5">&nbsp;</td>
                            </tr>
                        </tbody>
                        <tbody class="table-group-divider">
                            <tr class="fs-7">
                                <th scope="row" colspan="2">Rules</th>
                                <td colspan="5">&nbsp;</td>
                            </tr>
                            <tr class="fs-7">
                                <th scope="row" colspan="2">Body</th>
                                <td colspan="5">&nbsp;</td>
                            </tr>
                            <tr class="fs-7">
                                <th scope="row" colspan="2">Gear</th>
                                <td colspan="5">&nbsp;</td>
                            </tr>
                            <tr class="fs-7">
                                <th scope="row" colspan="2"></th>
                                <td colspan="5">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-borderless mb-0 fs-7">
                        {% include "core/includes/weapon_stat_headers.html" with first_col="Weapons" %}
                        <tbody class="table-group-divider">
                            {% partialdef blank-weapon-row inline %}
                            <tr class="align-top">
                                <td>&nbsp;</td>
                                <td class="text-center fs-7">&nbsp;</td>
                                <td class="text-center fs-7">&nbsp;</td>
                                <td class="text-center fs-7 border-start">&nbsp;</td>
                                <td class="text-center fs-7">&nbsp;</td>
                                <td class="text-center fs-7 border-start">&nbsp;</td>
                                <td class="text-center fs-7">&nbsp;</td>
                                <td class="text-center fs-7">&nbsp;</td>
                                <td class="text-center fs-7">&nbsp;</td>
                            </tr>
                        {% endpartialdef %}
                        {% partial blank-weapon-row %}
                        {% partial blank-weapon-row %}
                        {% partial blank-weapon-row %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card g-col-12 g-col-md-6 border-start-md-0 rounded-start-md-0 break-inside-avoid">
        <div class="card-header p-2 hstack align-items-start">
            <div class="vstack gap-1">
                <div class="hstack align-items-start">
                    <h3 class="h5 mb-0">&nbsp;</h3>
                    <div class="ms-auto hstack gap-2 flex-wrap"></div>
                </div>
                <div class="hstack gap-2">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div>
                <div class="hstack gap-2 align-items-baseline justify-content-end">
                    <div class="fs-3">
                        <div class="badge text-body border fw-normal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="vstack p-0">
                <table class="table table-sm table-borderless table-fixed mb-0">
                    <thead>
                        <tr>
                            <th class="text-center border-bottom fs-5 bg-warning-subtle border-start"
                                scope="col">BS</th>
                            <th class="text-center border-bottom fs-5 bg-warning-subtle" scope="col">Ld</th>
                            <th class="text-center border-bottom fs-5 bg-warning-subtle" scope="col">Cl</th>
                            <th class="text-center border-bottom fs-5 bg-warning-subtle" scope="col">Wil</th>
                            <th class="text-center border-bottom fs-5 bg-warning-subtle" scope="col">Int</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-nowrap">
                            <td class="text-center fs-5 bg-warning-subtle border-start">&nbsp;</td>
                            <td class="text-center fs-5 bg-warning-subtle">&nbsp;</td>
                            <td class="text-center fs-5 bg-warning-subtle">&nbsp;</td>
                            <td class="text-center fs-5 bg-warning-subtle">&nbsp;</td>
                            <td class="text-center fs-5 bg-warning-subtle">&nbsp;</td>
                        </tr>
                    </tbody>
                    <tbody class="table-group-divider">
                        <tr class="fs-7">
                            <th scope="row" colspan="2">Rules</th>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr class="fs-7">
                            <th scope="row" colspan="2">Gear</th>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr class="fs-7">
                            <th scope="row" colspan="2"></th>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr class="fs-7">
                            <th scope="row" colspan="2"></th>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr class="fs-7">
                            <th scope="row" colspan="2"></th>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-sm table-borderless mb-0 fs-7">
                    {% include "core/includes/weapon_stat_headers.html" with first_col="Weapons" %}
                    <tbody class="table-group-divider">
                        {% partial blank-weapon-row %}
                        {% partial blank-weapon-row %}
                        {% partial blank-weapon-row %}
                        {% partial blank-weapon-row %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
