{% load allauth custom_tags %}
{% comment %}Filter component for fighter skills.{% endcomment %}
<form id="search-skills"
      method="get"
      action="{{ action }}#search"
      class="row">
    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
        <input type="hidden" name="flash" value="search">
        <input type="hidden" name="cb" value="{% cachebuster %}">
        <div class="input-group">
            <span class="input-group-text">
                <i class="bi-search"></i>
            </span>
            <input class="form-control"
                   type="search"
                   placeholder="Search skills"
                   aria-label="Search skills"
                   name="q"
                   value="{{ request.GET.q }}">
            <button class="btn btn-primary" type="submit">Search</button>
            {% if request.GET.q %}
                <a href="?cb={% cachebuster %}&{% qt_rm request "q" "flash" %}#search"
                   class="btn btn-outline-secondary">Clear</a>
            {% endif %}
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <label for="skill-filter-select" class="form-label">Show</label>
        <select class="form-select"
                id="filter-select"
                name="filter"
                data-gy-toggle-submit="search-skills">
            <option value="primary-secondary-only"
                    {% if not request.GET.filter or request.GET.filter == "primary-secondary-only" %}selected{% endif %}>
                Primary/secondary only
            </option>
            <option value="all" {% if request.GET.filter == "all" %}selected{% endif %}>All</option>
            <option value="all-with-restricted"
                    {% if request.GET.filter == "all-with-restricted" %}selected{% endif %}>All + restricted</option>
        </select>
        <div class="ms-sm-auto">
            <button class="btn btn-link icon-link btn-sm"
                    type="submit"
                    id="update-filters">
                <i class="bi-arrow-clockwise"></i>
                Update
            </button>
            •
            <a class="btn btn-link text-secondary icon-link btn-sm"
               href="?cb={% cachebuster %}#search">Reset</a>
        </div>
    </div>
</form>
