{% load allauth custom_tags %}
<div class="card g-col-12 g-col-md-6" id="{{ fighter.id }}">
    <div class="card-header p-2">
        <div class="vstack gap-1">
            <div class="hstack align-items-center">
                <h3 class="h5 mb-0">{{ fighter.name }}</h3>
                <div class="ms-auto">{% include "core/includes/fighter_card_cost.html" with fighter=fighter %}</div>
            </div>
        </div>
    </div>
    <div class="card-body vstack p-0 p-sm-2 pt-2">
        {% if fighter.is_stash %}
            <!-- Gang Credits -->
            <div class="col-12 mb-2">
                <div class="hstack gap-3 align-items-center justify-content-between px-1">
                    <h4 class="h6 mb-0">Stash Credits</h4>
                    <div>
                        <span class="badge bg-primary fs-7">{{ list.credits_current|default:"0" }}¢</span>
                    </div>
                </div>
            </div>
        {% endif %}
        <table class="table table-sm table-borderless table-fixed mb-0">
            {% if not fighter.is_stash %}
                <thead>
                    {% for stat in fighter.statline %}
                        <th class="text-center border-bottom {% if stat.highlight %}bg-warning-subtle{% endif %} {{ stat.classes }}"
                            scope="col">{{ stat.name }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    <tr class="table-nowrap">{% include "core/includes/list_fighter_statline.html" with fighter=fighter %}</tr>
                </tbody>
            {% endif %}
            <tbody class="table-group-divider">
                {% firstof gear_mode "link" as gear_mode_default %}
                {% if not fighter.is_stash %}
                    {% if not fighter.content_fighter.hide_house_restricted_gear and fighter.has_house_additional_gear %}
                        {% if gear_mode == "edit" %}
                            <!-- House Additional Gearline -->
                            {% for line in fighter.house_additional_gearline_display %}
                                {% for assign in line.assignments %}
                                    <tr class="fs-7">
                                        {% if forloop.first %}
                                            <th scope="row" colspan="{% widthratio 33 100 fighter.statline|length %}">{{ line.category }}</th>
                                        {% else %}
                                            <th scope="row" colspan="{% widthratio 33 100 fighter.statline|length %}"></th>
                                        {% endif %}
                                        <td colspan="{% widthratio 66 100 fighter.statline|length %}"
                                            class="{% flash assign.id %}">
                                            {% if assign.is_from_default_assignment or assign.kind == "default" %}
                                                <span bs-tooltip
                                                      data-bs-toggle="tooltip"
                                                      class="tooltipped"
                                                      title="This is assigned to the fighter by default.">
                                                {% endif %}
                                                {% include "core/includes/gear_assign_name.html" with assign=assign forloop=forloop %}
                                                {% if assign.is_from_default_assignment or assign.kind == "default" %}</span>{% endif %}
                                            {% if assign.cost_int != 0 %}({{ assign.cost_display }}){% endif %}
                                            {% if list.owner_cached == user and not print %}
                                                {% if assign.kind == 'assigned' and not assign.is_linked %}
                                                    <br>
                                                    {% if not assign.is_from_default_assignment %}
                                                        <a href="{% url 'core:list-fighter-gear-cost-edit' list.id fighter.id assign.id %}"
                                                           class="link-secondary">Edit</a>
                                                        <span class="text-muted">·</span>
                                                    {% endif %}
                                                    <a href="{% url 'core:list-fighter-gear-reassign' list.id fighter.id assign.id %}"
                                                       class="link-secondary">Reassign</a>
                                                    <span class="text-muted">·</span>
                                                    <a href="{% url 'core:list-fighter-gear-delete' list.id fighter.id assign.id %}"
                                                       class="link-danger">Remove</a>
                                                {% elif assign.kind == 'default' %}
                                                    <br>
                                                    <a href="{% url 'core:list-fighter-gear-default-disable' list.id fighter.id assign.id %}"
                                                       class="link-danger">Remove</a>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% empty %}
                                    {% if list.owner_cached == user and not print %}
                                        <tr class="fs-7">
                                            <th scope="row" colspan="{% widthratio 33 100 fighter.statline|length %}">{{ line.category }}</th>
                                            <td colspan="{% widthratio 66 100 fighter.statline|length %}">
                                                {% if gear_mode_default == "link" %}
                                                    <a href="{% url 'core:list-fighter-gear-edit' list.id fighter.id %}?flash=search&filter=all&cat={{ line.id }}#search">Add {{ line.category }}</a>
                                                {% else %}
                                                    <span class="text-secondary">{{ fighter.proximal_demonstrative }} has no {{ line.category }}.</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <!-- House Additional Gearline -->
                            {% for line in fighter.house_additional_gearline_display %}
                                <tr class="fs-7">
                                    <th scope="row" colspan="{% widthratio 33 100 fighter.statline|length %}">{{ line.category }}</th>
                                    <td colspan="{% widthratio 66 100 fighter.statline|length %}">
                                        {% for assign in line.assignments %}
                                            {% comment %} All this faff to avoid spaces {% endcomment %}
                                            {% spaceless %}
                                                {% include "core/includes/gear_assign_name.html" with assign=assign forloop=forloop %}
                                                {% if assign.cost_int != 0 %}<span>&nbsp;({{ assign.cost_display }})</span>{% endif %}
                                                {% if not forloop.last %}<span>,</span>{% endif %}
                                            {% endspaceless %}
                                        {% endfor %}
                                        {% if list.owner_cached == user and not print %}
                                            {% if line.assignments|length > 0 %}
                                                {% if gear_mode_default == "link" %}
                                                    <a href="{% url 'core:list-fighter-gear-edit' list.id fighter.id %}?flash=search&filter=all&al=E&cat={{ line.id }}#search">Edit</a>
                                                {% endif %}
                                            {% else %}
                                                {% if gear_mode_default == "link" %}
                                                    <a href="{% url 'core:list-fighter-gear-edit' list.id fighter.id %}?flash=search&filter=all&al=E&cat={{ line.id }}#search">Add {{ line.category }}</a>
                                                {% else %}
                                                    <span class="text-secondary">{{ fighter.proximal_demonstrative }} has no {{ line.category }}.</span>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    <!-- Category Restricted Gear -->
                    {% if fighter.has_category_restricted_gear %}
                        {% if gear_mode == "edit" %}
                            <!-- Category Restricted Gearline -->
                            {% for line in fighter.category_restricted_gearline_display %}
                                {% for assign in line.assignments %}
                                    <tr class="fs-7">
                                        {% if forloop.first %}
                                            <th scope="row" colspan="{% widthratio 33 100 fighter.statline|length %}">{{ line.category }}</th>
                                        {% else %}
                                            <th scope="row" colspan="{% widthratio 33 100 fighter.statline|length %}"></th>
                                        {% endif %}
                                        <td colspan="{% widthratio 66 100 fighter.statline|length %}"
                                            class="{% flash assign.id %}">
                                            {% if assign.is_from_default_assignment or assign.kind == "default" %}
                                                <span bs-tooltip
                                                      data-bs-toggle="tooltip"
                                                      class="tooltipped"
                                                      title="This is assigned to the fighter by default.">
                                                {% endif %}
                                                {% include "core/includes/gear_assign_name.html" with assign=assign forloop=forloop %}
                                                {% if assign.is_from_default_assignment or assign.kind == "default" %}</span>{% endif %}
                                            {% if assign.cost_int != 0 %}({{ assign.cost_display }}){% endif %}
                                            {% if list.owner_cached == user and not print %}
                                                {% if assign.kind == 'assigned' and not assign.is_linked %}
                                                    <br>
                                                    {% if not assign.is_from_default_assignment %}
                                                        <a href="{% url 'core:list-fighter-gear-cost-edit' list.id fighter.id assign.id %}"
                                                           class="link-secondary">Edit</a>
                                                        <span class="text-muted">·</span>
                                                    {% endif %}
                                                    <a href="{% url 'core:list-fighter-gear-reassign' list.id fighter.id assign.id %}"
                                                       class="link-secondary">Reassign</a>
                                                    <span class="text-muted">·</span>
                                                    <a href="{% url 'core:list-fighter-gear-delete' list.id fighter.id assign.id %}"
                                                       class="link-danger">Remove</a>
                                                {% elif assign.kind == 'default' %}
                                                    <br>
                                                    <a href="{% url 'core:list-fighter-gear-default-disable' list.id fighter.id assign.id %}"
                                                       class="link-danger">Remove</a>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% empty %}
                                    {% if list.owner_cached == user and not print %}
                                        <tr class="fs-7">
                                            <th scope="row" colspan="{% widthratio 33 100 fighter.statline|length %}">{{ line.category }}</th>
                                            <td colspan="{% widthratio 66 100 fighter.statline|length %}">
                                                {% if gear_mode_default == "link" %}
                                                    <a href="{% url 'core:list-fighter-gear-edit' list.id fighter.id %}?flash=search&filter={{ line.filter }}&cat={{ line.id }}#search">Add {{ line.category }}</a>
                                                {% else %}
                                                    <span class="text-secondary">{{ fighter.proximal_demonstrative }} has no {{ line.category }}.</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <!-- Category Restricted Gearline -->
                            {% for line in fighter.category_restricted_gearline_display %}
                                <tr class="fs-7">
                                    <th scope="row" colspan="{% widthratio 33 100 fighter.statline|length %}">{{ line.category }}</th>
                                    <td colspan="{% widthratio 66 100 fighter.statline|length %}">
                                        {% for assign in line.assignments %}
                                            {% comment %} All this faff to avoid spaces {% endcomment %}
                                            {% spaceless %}
                                                {% include "core/includes/gear_assign_name.html" with assign=assign forloop=forloop %}
                                                {% if assign.cost_int != 0 %}<span>&nbsp;({{ assign.cost_display }})</span>{% endif %}
                                                {% if not forloop.last %}<span>,</span>{% endif %}
                                            {% endspaceless %}
                                        {% endfor %}
                                        {% if list.owner_cached == user and not print %}
                                            {% if line.assignments|length > 0 %}
                                                {% if gear_mode_default == "link" %}
                                                    <a href="{% url 'core:list-fighter-gear-edit' list.id fighter.id %}?flash=search&filter={{ line.filter }}&cat={{ line.id }}#search">Edit</a>
                                                {% endif %}
                                            {% else %}
                                                {% if gear_mode_default == "link" %}
                                                    <a href="{% url 'core:list-fighter-gear-edit' list.id fighter.id %}?flash=search&filter={{ line.filter }}&cat={{ line.id }}#search">Add {{ line.category }}</a>
                                                {% else %}
                                                    <span class="text-secondary">{{ fighter.proximal_demonstrative }} has no {{ line.category }}.</span>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if fighter.wargearline_cached|length > 0 %}
                    {% if gear_mode == "edit" %}
                        <!-- Wargear -->
                        {% for assign in fighter.wargear %}
                            <tr class="fs-7">
                                {% if forloop.first %}
                                    <th scope="row" colspan="{% widthratio 33 100 fighter.statline|length %}">Gear</th>
                                {% else %}
                                    <th scope="row" colspan="{% widthratio 33 100 fighter.statline|length %}"></th>
                                {% endif %}
                                <td colspan="{% widthratio 66 100 fighter.statline|length %}"
                                    class="{% flash assign.id %}">
                                    {% if assign.is_from_default_assignment or assign.kind == "default" %}
                                        <span bs-tooltip
                                              data-bs-toggle="tooltip"
                                              class="link-secondary link-underline-opacity-25 link-underline-opacity-100-hover"
                                              title="This is assigned to the fighter by default.">
                                        {% endif %}
                                        {% if assign.is_linked %}
                                            <span bs-tooltip
                                                  data-bs-toggle="tooltip"
                                                  class="link-secondary link-underline-opacity-25 link-underline-opacity-100-hover"
                                                  title="This gear is assigned via the {{ assign.linked_parent.name }} and cannot be removed directly.">
                                            {% endif %}
                                            {{ assign.name }}
                                            {% for up in assign.active_upgrades_display %}({{ up.name }}){% endfor %}
                                            {% if assign.is_from_default_assignment or assign.kind == "default" %}</span>{% endif %}
                                        {% if assign.is_linked %}</span>{% endif %}
                                    {% if assign.cost_int != 0 %}({{ assign.cost_display }}){% endif %}
                                    {% if list.owner_cached == user and not print %}
                                        {% if assign.kind == 'assigned' and not assign.is_linked %}
                                            <br>
                                            {% if not assign.is_from_default_assignment %}
                                                <a href="{% url 'core:list-fighter-gear-cost-edit' list.id fighter.id assign.id %}"
                                                   class="link-secondary">Edit</a>
                                                <span class="text-muted">·</span>
                                            {% endif %}
                                            <a href="{% url 'core:list-fighter-gear-reassign' list.id fighter.id assign.id %}"
                                               class="link-secondary">Reassign</a>
                                            <span class="text-muted">·</span>
                                            <a href="{% url 'core:list-fighter-gear-delete' list.id fighter.id assign.id %}"
                                               class="link-danger">Remove</a>
                                            {% if fighter.is_stash %}
                                                <span class="text-muted">·</span>
                                                <a href="{% url 'core:list-fighter-equipment-sell' list.id fighter.id assign.id %}?assign={{ assign.id }}&sell_assign={{ assign.id }}"
                                                   class="link-warning">Sell</a>
                                            {% endif %}
                                        {% elif assign.kind == 'default' %}
                                            <br>
                                            <a href="{% url 'core:list-fighter-gear-default-disable' list.id fighter.id assign.id %}"
                                               class="link-danger">Remove</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <!-- Wargear -->
                        <tr class="fs-7">
                            <th scope="row" colspan="{% widthratio 33 100 fighter.statline|length %}">Gear</th>
                            <td colspan="{% widthratio 66 100 fighter.statline|length %}">
                                {% spaceless %}
                                    {% for assign in fighter.wargear %}
                                        {% comment %} All this faff to avoid spaces {% endcomment %}
                                        <span>{{ assign.name }}</span>
                                        {% if assign.cost_int != 0 %}<span>&nbsp;({{ assign.cost_display }})</span>{% endif %}
                                        {% if not forloop.last %}<span>,</span>{% endif %}
                                    {% endfor %}
                                {% endspaceless %}
                                {% if not print and gear_mode_default == "link" %}
                                    {% if list.owner_cached == user %}
                                        <a href="{% url 'core:list-fighter-gear-edit' list.id fighter.id %}"
                                           class="d-inline-block">Edit gear</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    {% if list.owner_cached == user and not print %}
                        <tr class="fs-7">
                            <th scope="row" colspan="{% widthratio 33 100 fighter.statline|length %}">Gear</th>
                            <td colspan="{% widthratio 66 100 fighter.statline|length %}">
                                {% if gear_mode_default == "link" %}
                                    <a href="{% url 'core:list-fighter-gear-edit' list.id fighter.id %}">Add gear</a>
                                {% else %}
                                    <span class="text-secondary">{{ fighter.proximal_demonstrative }} has no gear.</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>
        {% firstof weapons_mode "edit" as weapons_mode_default %}
        {% include "core/includes/list_fighter_weapons.html" with weapons=fighter.weapons mode=weapons_mode_default %}
    </div>
</div>
