{% load allauth custom_tags %}
{% if print %}
    {% firstof classes 'g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-3' as card_classes %}
{% else %}
    {% firstof classes 'g-col-12 g-col-md-6 g-col-xl-4' as card_classes %}
{% endif %}
<div class="card {{ card_classes }} {% flash fighter.id %}"
     id="{{ fighter.id }}">
    <div class="card-header p-2">
        <div class="vstack gap-1">
            <div class="hstack">
                <h3 class="h5 mb-0">{{ fighter.name }}</h3>
                <div class="ms-auto hstack gap-2">
                    {% if fighter.has_linked_fighter %}
                        <div class="fs-7 fst-italic">
                            <i class="bi-person"></i>
                            <a href="#{{ fighter.linked_list_fighter.id }}"
                               data-bs-toggle="tooltip"
                               class="link-secondary link-underline-opacity-25 link-underline-opacity-100-hover"
                               title="This Fighter is linked to {{ fighter.linked_list_fighter.name }} as Gear">
                                {{ fighter.linked_list_fighter.name }}
                            </a>
                        </div>
                    {% endif %}
                    {% include "core/includes/fighter_card_cost.html" with fighter=fighter %}
                </div>
            </div>
            <div class="hstack gap-2">
                <div>
                    {% if not print %}
                        {% ref list.content_house.name fighter.content_fighter_cached.type value=fighter.content_fighter_cached.type %}
                        ({{ fighter.content_fighter_cached.cat }})
                    {% else %}
                        {{ fighter.content_fighter_cached.type }} ({{ fighter.content_fighter_cached.cat }})
                    {% endif %}
                </div>
            </div>
            {% if not print %}
                {% if list.owner_cached == user %}
                    <div class="btn-group">
                        <a href="{% url 'core:list-fighter-edit' list.id fighter.id %}"
                           class="btn btn-outline-secondary btn-sm">
                            <i class="bi-pencil"></i> Edit
                        </a>
                        {% if fighter.has_linked_fighter %}
                            <button class="btn btn-outline-secondary btn-sm disabled" disabled>
                                <i class="bi-copy"></i> Clone
                            </button>
                            <button class="btn btn-outline-danger btn-sm disabled" disabled>
                                <i class="bi-archive"></i> Archive
                            </button>
                            <button class="btn btn-outline-danger btn-sm disabled" disabled>
                                <i class="bi-trash"></i> Delete
                            </button>
                        {% else %}
                            <a href="{% url 'core:list-fighter-clone' list.id fighter.id %}"
                               class="btn btn-outline-secondary btn-sm">
                                <i class="bi-copy"></i> Clone
                            </a>
                            <a href="{% url 'core:list-fighter-archive' list.id fighter.id %}"
                               class="btn btn-outline-danger btn-sm">
                                <i class="bi-archive"></i> Archive
                            </a>
                            <a href="{% url 'core:list-fighter-delete' list.id fighter.id %}"
                               class="btn btn-outline-danger btn-sm">
                                <i class="bi-trash"></i> Delete
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="card-body vstack p-0 p-sm-2">
        {% comment %} Stats {% endcomment %}
        <table class="table table-sm table-borderless mb-0">
            <thead>
                <tr>
                    <th class="text-center border-bottom" scope="col">M</th>
                    <th class="text-center border-bottom" scope="col">WS</th>
                    <th class="text-center border-bottom" scope="col">BS</th>
                    <th class="text-center border-bottom" scope="col">S</th>
                    <th class="text-center border-bottom" scope="col">T</th>
                    <th class="text-center border-bottom" scope="col">W</th>
                    <th class="text-center border-bottom" scope="col">I</th>
                    <th class="text-center border-bottom" scope="col">A</th>
                    <th class="text-center border-bottom table-warning border-start"
                        scope="col">Ld</th>
                    <th class="text-center border-bottom table-warning" scope="col">Cl</th>
                    <th class="text-center border-bottom table-warning" scope="col">Wil</th>
                    <th class="text-center border-bottom table-warning" scope="col">Int</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for stat in fighter.content_fighter_cached.statline %}
                        {% if stat.highlight %}
                            <td class="text-center table-warning {{ stat.classes }}">{{ stat.value }}</td>
                        {% else %}
                            <td class="text-center {{ stat.classes }}">{{ stat.value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </tbody>
            <tbody class="table-group-divider">
                {% if fighter.content_fighter_cached.ruleline|length > 0 %}
                    <tr class="fs-7">
                        <th scope="row" colspan="3">Rules</th>
                        <td colspan="12">
                            {% for rule in fighter.content_fighter_cached.ruleline %}
                                {% comment %} All this faff to avoid spaces {% endcomment %}
                                {% if not print %}
                                    {% spaceless %}
                                        <span>{% ref rule value=rule %}</span>
                                        {% if not forloop.last %}<span>,</span>{% endif %}
                                    {% endspaceless %}
                                {% else %}
                                    {% spaceless %}
                                        <span>{{ rule }}</span>
                                        {% if not forloop.last %}<span>,</span>{% endif %}
                                    {% endspaceless %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                {% if fighter.skilline|length > 0 %}
                    <tr class="fs-7">
                        <th scope="row" colspan="3">Skills</th>
                        <td colspan="12">
                            {% for skill in fighter.skilline %}
                                {% comment %} All this faff to avoid spaces {% endcomment %}
                                {% if not print %}
                                    {% spaceless %}
                                        <span>{% ref skill value=skill %}</span>
                                        {% if not forloop.last %}<span>,</span>{% endif %}
                                    {% endspaceless %}
                                {% else %}
                                    {% spaceless %}
                                        <span>{{ skill }}</span>
                                        {% if not forloop.last %}<span>,</span>{% endif %}
                                    {% endspaceless %}
                                {% endif %}
                            {% endfor %}
                            {% if not print %}
                                {% if list.owner_cached == user %}
                                    <a href="{% url 'core:list-fighter-skills-edit' list.id fighter.id %}">Edit skills</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    {% if list.owner_cached == user and not print %}
                        <tr class="fs-7">
                            <th scope="row" colspan="3">Skills</th>
                            <td colspan="12">
                                <a href="{% url 'core:list-fighter-skills-edit' list.id fighter.id %}">Add skills</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
                {% if fighter.content_fighter_cached.is_psyker %}
                    <tr class="fs-7">
                        <th scope="row" colspan="3">Powers</th>
                        <td colspan="12">
                            {% for assign in fighter.powers_cached %}
                                {% comment %} All this faff to avoid spaces {% endcomment %}
                                {% spaceless %}
                                    <span>{{ assign.name }}</span>
                                    {% if not forloop.last %}<span>,</span>{% endif %}
                                {% endspaceless %}
                            {% empty %}
                                <a href="{% url 'core:list-fighter-powers-edit' list.id fighter.id %}">Add powers</a>
                            {% endfor %}
                            {% if fighter.powers_cached|length > 0 and not print %}
                                {% if list.owner_cached == user %}
                                    <a href="{% url 'core:list-fighter-powers-edit' list.id fighter.id %}">Edit powers</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% if fighter.has_house_additional_gear %}
                    {% for line in fighter.house_additional_gearline_display %}
                        <tr class="fs-7">
                            <th scope="row" colspan="3">{{ line.category }}</th>
                            <td colspan="12">
                                {% for assign in line.assignments %}
                                    {% comment %} All this faff to avoid spaces {% endcomment %}
                                    {% spaceless %}
                                        <span>{{ assign.name }}</span>
                                        {% if assign.cost_int != 0 %}<span>&nbsp;({{ assign.cost_display }})</span>{% endif %}
                                        {% if not forloop.last %}<span>,</span>{% endif %}
                                    {% endspaceless %}
                                {% endfor %}
                                {% comment %} {% if not print %}
                                    {% if list.owner_cached == user %}
                                        <a href="{% url 'core:list-fighter-house-additional-gear-edit' list.id fighter.id %}">Edit
                                        gear</a>
                                    {% endif %}
                                {% endif %} {% endcomment %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if fighter.wargearline_cached|length > 0 %}
                    <tr class="fs-7">
                        <th scope="row" colspan="3">Gear</th>
                        <td colspan="12">
                            {% for assign in fighter.wargear %}
                                {% comment %} All this faff to avoid spaces {% endcomment %}
                                {% spaceless %}
                                    <span>{{ assign.name }}</span>
                                    {% if assign.cost_int != 0 %}
                                        <span>&nbsp;({{ assign.cost_display }})</span>
                                    {% endif %}
                                    {% if not forloop.last %}
                                        <span>,</span>
                                    {% endif %}
                                {% endspaceless %}
                            {% endfor %}
                            {% if not print %}
                                {% if list.owner_cached == user %}
                                    <a href="{% url 'core:list-fighter-gear-edit' list.id fighter.id %}"
                                       class="d-inline-block">Edit gear</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    {% if list.owner_cached == user and not print %}
                        <tr class="fs-7">
                            <th scope="row" colspan="3">Gear</th>
                            <td colspan="12">
                                <a href="{% url 'core:list-fighter-gear-edit' list.id fighter.id %}">Add gear</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>
        {% comment %} Wargear {% endcomment %}
        {% include "core/includes/list_fighter_weapons.html" with weapons=fighter.weapons_cached show_edit_link=False %}
        {% if not print %}
            {% if list.owner_cached == user %}
                <div class="btn-group p-1">
                    <a href="{% url 'core:list-fighter-weapons-edit' list.id fighter.id %}"
                       class="btn btn-outline-primary btn-sm">
                        <i class="bi-plus-lg"></i> Add or edit weapons
                    </a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
