{% load custom_tags %}
{% spaceless %}
    <span>{{ assign.name }}</span>
    {% if assign.active_upgrades_display|length > 0 %}
        <span>&nbsp;(</span>
        {% for up in assign.active_upgrades_display %}
            <span>{{ up.name }}</span>
            {% if not forloop.last %}<span>,&nbsp;</span>{% endif %}
        {% endfor %}
        <span>)</span>
    {% endif %}
    {% if pack_content_map %}
        {% with assign.equipment.id|pack_name:pack_content_map as pname %}
            {% if pname %}
                <span>&nbsp;<i class="bi-circle-fill text-secondary fs-7 pack-icon"
   data-bs-toggle="tooltip"
   data-bs-title="{{ pname }}"></i></span>
            {% endif %}
        {% endwith %}
    {% endif %}
{% endspaceless %}
