{% load allauth custom_tags %}
{% comment %} Base-case: one profile for the weapon {% endcomment %}
{% if assign.all_profiles_cached|length == 1 %}
    {% with assign.all_profiles_cached.0 as profile %}
        <tr class="align-top">
            <td rowspan="{% if profile.traitline_cached|length > 0 %}2{% else %}1{% endif %}">
                {% include "core/includes/list_fighter_weapon_assign_name.html" with assign=assign %}
            </td>
            {% include "core/includes/list_fighter_weapon_profile_statline.html" with profile=profile %}
            {% if mode == 'add' %}
                <td class="text-center border-start">{{ assign.equipment.rarity }}{% firstof assign.equipment.rarity_roll "" %}</td>
            {% endif %}
        </tr>
        {% if profile.traitline_cached|length > 0 %}
            <tr>
                <td colspan="9">{{ profile.traitline_cached|join:", " }}</td>
            </tr>
        {% endif %}
    {% endwith %}
{% else %}
    {% comment %} First profile is named, so we need to add a title row {% endcomment %}
    {% if assign.standard_profiles_cached.0.name != "" %}
        <tr class="align-bottom">
            <td colspan="9">{% include "core/includes/list_fighter_weapon_assign_name.html" with assign=assign %}</td>
            {% if mode == 'add' %}
                <td class="text-center border-start">{{ assign.equipment.rarity }}{% firstof assign.equipment.rarity_roll "" %}</td>
            {% endif %}
        </tr>
    {% endif %}
    {% for profile in assign.standard_profiles_cached %}
        <tr class="align-top">
            <td rowspan="{% if profile.traitline_cached|length > 0 %}2{% else %}1{% endif %}">
                {% comment %} The first, standard profile is not named so inline the weapon name {% endcomment %}
                {% if forloop.counter0 == 0 and profile.name == "" %}
                    {% include "core/includes/list_fighter_weapon_assign_name.html" with assign=assign %}
                {% elif profile.name != "" %}
                    <i class="bi-dash"></i> {{ profile.name }}
                {% endif %}
            </td>
            {% include "core/includes/list_fighter_weapon_profile_statline.html" with profile=profile %}
            {% if mode == 'add' %}
                <td class="text-center border-start">{% comment %} Nothing here because it's a standard profile {% endcomment %}</td>
            {% endif %}
        </tr>
        {% if profile.traitline_cached|length > 0 %}
            <tr>
                <td colspan="9">{{ profile.traitline_cached|join:", " }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    {% comment %} Non-standard profile(s) {% endcomment %}
    {% for pd in assign.weapon_profiles_display %}
        <tr class="align-top">
            <td rowspan="{% if pd.profile.traitline_cached|length > 0 %}2{% else %}1{% endif %}">
                {% if mode == 'add' %}
                    <div class="form-check">
                        <input type="checkbox"
                               name="weapon_profiles_field"
                               value="{{ pd.profile.id }}"
                               id="profile-{{ pd.profile.id }}"
                               form="weapon-{{ assign.equipment.id }}"
                               class="form-check-input">
                        <label class="form-check-label" for="profile-{{ pd.profile.id }}">
                            {{ pd.profile.name }}
                            {% if pd.cost_int != 0 %}({{ pd.cost_display }}){% endif %}
                        </label>
                    </div>
                {% else %}
                    <i class="bi-dash"></i>
                    {{ pd.profile.name }}
                    {% if not assign.has_total_cost_override %}
                        {% if pd.cost_int != 0 %}({{ pd.cost_display }}){% endif %}
                    {% endif %}
                    {% if mode == 'edit' and fighter.is_stash and list.status == 'campaign_mode' and list.owner_cached == user and assign.kind == 'assigned' %}
                        <a href="{% url 'core:list-fighter-equipment-sell' list.id fighter.id assign.id %}?sell_profile={{ pd.profile.id }}"
                           class="link-warning">Sell</a>
                    {% endif %}
                {% endif %}
            </td>
            {% include "core/includes/list_fighter_weapon_profile_statline.html" with profile=pd.profile %}
            {% if mode == 'add' %}
                <td class="text-center border-start">{{ pd.profile.rarity }}{% firstof pd.profile.rarity_roll "" %}</td>
            {% endif %}
        </tr>
        {% if pd.profile.traitline_cached|length > 0 %}
            <tr>
                <td colspan="9">{{ pd.profile.traitline_cached|join:", " }}</td>
            </tr>
        {% endif %}
    {% endfor %}
{% endif %}
{% if assign.weapon_accessories_display_cached|length > 0 %}
    {% for ad in assign.weapon_accessories_display_cached %}
        <tr>
            <td colspan="9">
                <i class="bi-dash"></i>
                <i class="bi-crosshair"></i>
                {{ ad.accessory.name }}
                {% if not assign.has_total_cost_override %}
                    {% if ad.cost_int != 0 %}({{ ad.cost_display }}){% endif %}
                {% endif %}
                {% if mode == 'edit' and assign.kind == 'assigned' %}
                    <a href="{% url 'core:list-fighter-weapon-accessory-delete' list.id fighter.id assign.id ad.accessory.id %}?return_url={{ request.get_full_path|urlencode }}"
                       class="ms-auto link-danger">Delete</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endif %}
{% if assign.active_upgrade_cached %}
    <tr>
        <td colspan="9">
            <i class="bi-dash"></i>
            <i class="bi-arrow-up-circle"></i>
            {{ assign.equipment.upgrade_stack_name }}:
            {{ assign.active_upgrade_cached.name }}
            {% if not assign.has_total_cost_override %}
                {% if assign.active_upgrade_cost_int != 0 %}({{ assign.active_upgrade_cost_display }}){% endif %}
            {% endif %}
            {% if mode == 'edit' and assign.kind == 'assigned' %}
                <a href="{% url 'core:list-fighter-gear-upgrade-delete' list.id fighter.id assign.id assign.active_upgrade_cached.id %}?return_url={{ request.get_full_path|urlencode }}"
                   class="ms-auto link-danger">Delete</a>
            {% endif %}
        </td>
    </tr>
{% elif assign.upgrades_display|length > 0 and mode != 'add' and mode != 'edit' %}
    <tr>
        <td colspan="9">
            <i class="bi-dash"></i>
            <i class="bi-arrow-up-circle"></i>
            {{ assign.equipment.upgrade_stack_name }}:
            <span class="text-muted fst-italic">None</span>
        </td>
    </tr>
{% endif %}
