{% if assign.kind == 'default' %}
    <span bs-tooltip
          data-bs-toggle="tooltip"
          class="tooltipped"
          title="This weapon is assigned to the fighter by default.">
    {% endif %}
    {{ assign.base_name }}
    {% if assign.kind == 'default' %}</span>{% endif %}
{% if assign.has_total_cost_override %}
    <span bs-tooltip
          data-bs-toggle="tooltip"
          class="tooltipped"
          title="The total cost of this weapon (including ammo, accessories, and upgrades) is manually overriden.">
        ({{ assign.cost_display }})
    </span>
{% else %}
    {% if assign.base_cost_int != 0 %}({{ assign.base_cost_display }}){% endif %}
{% endif %}
