{% load allauth custom_tags color_tags %}
<div>
    {% if list.archived %}
        <div class="border rounded p-2 mb-3 hstack gap-2 align-items-center text-secondary">
            <i class="bi-archive"></i>
            <strong>This gang has been archived by its owner.</strong>
            {% if list.owner_cached == user %}
                <a href="{% url 'core:list-archive' list.id %}"
                   class="ms-auto btn btn-sm btn-secondary">Unarchive</a>
            {% endif %}
        </div>
    {% endif %}
    <div class="hstack">
        <div class="vstack flex-grow-1 gap-0 mb-2">
            <div class="hstack gap-2 mb-2 align-items-start align-items-md-center break-inside-avoid">
                <div class="d-flex flex-column flex-md-row flex-grow-1 align-items-start align-items-md-center gap-2">
                    <h2 class="mb-0">{% list_with_theme list %}</h2>
                    <div class="ms-md-auto">
                        {{ list.content_house_name }}
                        {% if list.is_campaign_mode %}<span class="badge bg-success">In Campaign</span>{% endif %}
                    </div>
                    <div class="h5 mb-0">
                        <div class="badge text-bg-primary">{{ list.cost_int_cached }}¢</div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row row-gap-1 column-gap-2 align-items-md-center">
                <div class="d-flex flex-column flex-sm-row flex-wrap row-gap-1 column-gap-2">
                    <div>
                        <i class="bi-person"></i>
                        {% if print %}
                            {{ list.owner_cached }}
                        {% else %}
                            <a class="linked"
                               href="{% url 'core:user' list.owner_cached.username %}">{{ list.owner_cached }}</a>
                        {% endif %}
                    </div>
                    {% if not print %}
                        <div>
                            {% if list.public %}
                                <i class="bi-eye"></i>
                                <span data-bs-toggle="tooltip"
                                      data-bs-title="This list is visible to all users"
                                      class="tooltipped">Public</span>
                            {% endif %}
                            {% if list.owner_cached == user and not list.public %}
                                <i class="bi-eye-slash"></i>
                                <span data-bs-toggle="tooltip"
                                      data-bs-title="This list can only be accessed by users with the direct link"
                                      class="tooltipped">Unlisted</span>
                            {% endif %}
                        </div>
                        {% if list.owner_cached == user and list.archived_fighters_cached.count > 0 %}
                            <div>
                                <i class="bi-archive"></i>
                                <a href="{% url 'core:list-archived-fighters' list.id %}" class="linked">
                                    {{ list.archived_fighters_cached.count }} archived fighter{{ list.archived_fighters_cached.count|pluralize }}
                                </a>
                            </div>
                        {% endif %}
                        {% if list.narrative %}
                            <div>
                                <i class="bi-file-text"></i>
                                <a class="linked" href="{% url 'core:list-about' list.id %}">About</a>
                            </div>
                        {% endif %}
                        {% if list.is_campaign_mode and list.original_list %}
                            <div>
                                <i class="bi-copy"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="This list was created via cloning"></i>
                                Cloned from <a href="{% url 'core:list' list.original_list.id %}" class="linked">{{ list.original_list.name }}</a>
                            </div>
                            {% if list.campaign %}
                                <div>
                                    <i class="bi-award"
                                       data-bs-toggle="tooltip"
                                       data-bs-title="Active in Campaign"></i>
                                    Active in
                                    <a href="{% url 'core:campaign' list.campaign.id %}" class="linked">{{ list.campaign.name }}</a>
                                    {% include "core/campaign/includes/status.html" with campaign=list.campaign %}
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if list.is_list_building and list.active_campaign_clones|length %}
                            <div>
                                <i class="bi-award"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="Active in Campaign"></i>
                                <a href="{% url 'core:list-campaign-clones' list.id %}" class="linked">Active in Campaigns</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="flex-shrink-0 ms-md-auto mt-2 mt-md-0">
                    {% if not print %}
                        <div class="nav hstack gap-1 flex-nowrap">
                            {% if list.owner_cached == user and pending_invitations_count > 0 %}
                                <a href="{% url 'core:list-invitations' list.id %}"
                                   class="btn btn-info text-bg-info btn-sm">
                                    <i class="bi-award"></i>
                                    {{ pending_invitations_count }} invitation{{ pending_invitations_count|pluralize }}
                                </a>
                            {% endif %}
                            {% if list.owner_cached == user and not list.archived %}
                                <a href="{% url 'core:list-fighter-new' list.id %}"
                                   class="btn btn-primary btn-sm"
                                   title="Add a fighter to this list">
                                    <i class="bi-person-add"></i> Add fighter</a>
                                <a href="{% url 'core:list-vehicle-new' list.id %}"
                                   class="btn btn-primary btn-sm"
                                   title="Add a vehicle to this list">
                                    <i class="bi-truck"></i> Add vehicle</a>
                            {% endif %}
                            <a href="{% url 'core:print-config-index' list.id %}"
                               class="btn btn-secondary btn-sm d-none d-sm-inline-flex"
                               title="Print">
                                <i class="bi-printer"></i>
                                <span class="visually-hidden">Print</span>
                            </a>
                            <nav class="btn-group">
                                {% if list.owner_cached == user and not list.archived %}
                                    <a href="{% url 'core:list-edit' list.id %}"
                                       class="btn btn-secondary btn-sm"
                                       title="Edit this list">
                                        <i class="bi-pencil"></i> Edit
                                    </a>
                                {% endif %}
                                <div class="btn-group" role="group">
                                    <button type="button"
                                            class="btn btn-secondary btn-sm dropdown-toggle"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                            aria-label="More options">
                                        <i class="bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'core:print-config-index' list.id %}"
                                               class="dropdown-item icon-link">
                                                <i class="bi-printer"></i> Print
                                            </a>
                                        </li>
                                        <li>
                                            <button type="button"
                                                    class="dropdown-item icon-link"
                                                    data-bs-toggle="offcanvas"
                                                    data-bs-target="#embedOffcanvas"
                                                    aria-controls="embedOffcanvas">
                                                <i class="bi-person-bounding-box"></i> Embed
                                            </button>
                                        </li>
                                        <li>
                                            <a href="{% url 'core:list-clone' list.id %}"
                                               class="dropdown-item icon-link">
                                                <i class="bi-copy"></i> Clone
                                            </a>
                                        </li>
                                        {% if list.owner_cached == user %}
                                            {% if pending_invitations_count > 0 %}
                                                <li>
                                                    <a href="{% url 'core:list-invitations' list.id %}"
                                                       class="dropdown-item icon-link">
                                                        <i class="bi-envelope"></i> Invitations
                                                        <span class="badge bg-info ms-1">{{ pending_invitations_count }}</span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                {% if has_stash_fighter %}
                                                    <a href="#"
                                                       class="dropdown-item icon-link disabled"
                                                       data-bs-toggle="tooltip"
                                                       data-bs-title="This list already has a stash fighter"
                                                       onclick="return false;">
                                                        <i class="bi-plus-circle"></i> Show Stash
                                                    </a>
                                                {% else %}
                                                    <a href="{% url 'core:list-show-stash' list.id %}"
                                                       class="dropdown-item icon-link">
                                                        <i class="bi-plus-circle"></i> Show Stash
                                                    </a>
                                                {% endif %}
                                            </li>
                                            <li>
                                                <a href="{% url 'core:list-archive' list.id %}"
                                                   class="dropdown-item icon-link">
                                                    <i class="bi-archive"></i>
                                                    {% if list.archived %}
                                                        Unarchive
                                                    {% else %}
                                                        Archive
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if print %}
            <div id="qr"
                 class="hstack h-100 ms-2 mb-2 align-items-start justify-content-end">
                {% url 'core:list-print' list.id as list_url %}
                {% fullurl list_url as full_list_url %}
                <div id="qr-code" class="sq-6">{% qr_svg full_list_url %}</div>
            </div>
        {% endif %}
    </div>
    <div class="grid auto-flow-dense {% if print %}gap-2{% endif %}">
        {% if not print %}
            {% include "core/includes/list_campaign_actions.html" with list=list %}
            {% include "core/includes/list_campaign_resources_assets.html" with list=list campaign_resources=campaign_resources held_assets=held_assets %}
            {% include "core/includes/list_attributes.html" with list=list %}
        {% elif print %}
            {% comment %} In print mode, show cards based on print configuration {% endcomment %}
            {% if recent_actions %}
                {% if not print_config or print_config.include_actions %}
                    {% include "core/includes/list_campaign_actions.html" with list=list recent_actions=recent_actions print=True %}
                {% endif %}
            {% endif %}
            {% if campaign_resources or held_assets %}
                {% if not print_config or print_config.include_assets %}
                    {% include "core/includes/list_campaign_resources_assets.html" with list=list campaign_resources=campaign_resources held_assets=held_assets print=True %}
                {% endif %}
            {% endif %}
            {% if list.all_attributes %}
                {% if not print_config or print_config.include_attributes %}
                    {% include "core/includes/list_attributes.html" with list=list print=True %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% if print %}
            {% firstof 'g-col-12 g-col-sm-6 g-col-md-6 g-col-xl-4' as inner_grid_layout_classes %}
        {% else %}
            {% firstof 'g-col-12 g-col-xl-8' as inner_grid_layout_classes %}
        {% endif %}
        {% if fighters_with_groups %}
            {% regroup fighters_with_groups by group_key as fighter_groups %}
            {% if fighter_groups %}
                {% for group in fighter_groups %}
                    {% if group.list|length > 1 %}
                        <div class="{{ inner_grid_layout_classes }} break-inside-avoid">
                            <div class="grid h-100 gap-2 gap-md-0 border rounded p-2 bg-secondary-subtle">
                                {% for fighter in group.list %}
                                    {% if fighter.is_stash %}
                                        {% comment %} Stash fighter in group? Nope {% endcomment %}
                                    {% else %}
                                        {% if forloop.first %}
                                            {% include "core/includes/fighter_card.html" with fighter=fighter list=list print=print classes="g-col-12 g-col-md-6 border-end-md-0 rounded-end-md-0" %}
                                        {% elif forloop.last %}
                                            {% include "core/includes/fighter_card.html" with fighter=fighter list=list print=print classes="g-col-12 g-col-md-6 border-start-md-0 rounded-start-md-0" %}
                                        {% else %}
                                            {% include "core/includes/fighter_card.html" with fighter=fighter list=list print=print classes="g-col-12 g-col-md-6 border-start-md-0 rounded-start-md-0 border-end-md-0 rounded-end-md-0" %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        {% for fighter in group.list %}
                            {% if fighter.is_stash %}
                                {% comment %} Only show stash if not in print mode, or if print_config allows it {% endcomment %}
                                {% if not print or not print_config or print_config.include_stash %}
                                    {% include "core/includes/fighter_card_stash.html" with fighter=fighter list=list print=print %}
                                {% endif %}
                            {% else %}
                                {% include "core/includes/fighter_card.html" with fighter=fighter list=list print=print %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="g-col-12 py-2 hstack gap-2 align-items-center">
                    This List is empty.
                    {% if not print and list.owner_cached == user and not list.archived %}
                        <a href="{% url 'core:list-fighter-new' list.id %}"
                           class="btn btn-primary"><i class="bi-person-add"></i> Add a fighter</a>
                        <a href="{% url 'core:list-vehicle-new' list.id %}"
                           class="btn btn-primary"><i class="bi-truck"></i> Add a vehicle</a>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="offcanvas offcanvas-end"
         tabindex="-1"
         id="embedOffcanvas"
         aria-labelledby="embedOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="embedOffcanvasLabel">Embed Code</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group">
                <p>Copy the code below and paste it into your website to embed the fighter card.</p>
                <p>
                    The embed page contains the <a href="https://iframe-resizer.com/" target="new">iframe-resizer</a> child page code so you use the <a href="https://iframe-resizer.com/setup/parent/" target="new">parent page code</a> if you want.
                </p>
                <p>
                    Add <code>?theme=light</code> or <code>?theme=dark</code> to the URL to force a particular theme.
                </p>
                {% for fighter in fighters_minimal %}
                    <li class="list-group-item vstack gap-2">
                        <h3 class="h6 mb-0">{{ fighter.name }}</h3>
                        {% url 'core:list-fighter-embed' list.id fighter.id as embed_url %}
                        {% fullurl embed_url as full_embed_url %}
                        <div>
                            <code>&lt;iframe style="width: 100%; max-width: 400px;" src="{{ full_embed_url }}?theme=auto"&gt;&lt;/iframe&gt;</code>
                        </div>
                        <div class="hstack align-items-center gap-2">
                            <button class="btn btn-outline-secondary btn-sm"
                                    data-clipboard-text="&lt;iframe style=&quot;width: 100%; max-width: 400px;&quot; src=&quot;{{ full_embed_url }}?theme=auto&quot;&gt;&lt;/iframe&gt;"
                                    data-clipboard-message="copied-{{ fighter.id }}">
                                <i class="bi-clipboard"></i> Copy
                            </button>
                            <p class="d-none text-secondary mb-0" id="copied-{{ fighter.id }}">
                                Copied <i class="bi-check2"></i>
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
