{% load allauth custom_tags color_tags %}
<div>
    {% if list.archived %}
        <div class="border rounded p-2 mb-3 hstack gap-2 align-items-center text-secondary">
            <i class="bi-archive"></i>
            <strong>This gang has been archived by its owner.</strong>
            {% if list.owner_cached == user %}
                <a href="{% url 'core:list-archive' list.id %}"
                   class="ms-auto btn btn-sm btn-secondary">Unarchive</a>
            {% endif %}
        </div>
    {% endif %}
    <div class="vstack gap-0 mb-2">
        <div class="hstack gap-2 mb-2 align-items-start align-items-md-center">
            <div class="d-flex flex-column flex-md-row flex-grow-1 align-items-start align-items-md-center gap-2">
                <h2 class="mb-0">{% list_with_theme list %}</h2>
                <div class="ms-md-auto">
                    {{ list.content_house.name }}
                    {% if list.is_campaign_mode %}<span class="badge bg-success">Campaign Mode</span>{% endif %}
                </div>
                <div class="h5 mb-0">
                    <div class="badge text-bg-primary">{{ list.cost_int_cached }}¢</div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row row-gap-1 column-gap-2 align-items-sm-center">
            <div class="d-flex flex-column flex-sm-row flex-wrap row-gap-1 column-gap-2">
                <div>
                    <i class="bi-person"></i>
                    <a class="linked"
                       href="{% url 'core:user' list.owner_cached.username %}">{{ list.owner_cached }}</a>
                </div>
                {% if not print %}
                    <div>
                        {% if list.public %}
                            <i class="bi-eye"></i>
                            <span data-bs-toggle="tooltip"
                                  data-bs-title="This list is visible to all users"
                                  class="tooltipped">Public</span>
                        {% endif %}
                        {% if list.owner_cached == user and not list.public %}
                            <i class="bi-eye-slash"></i>
                            <span data-bs-toggle="tooltip"
                                  data-bs-title="This list is only visible to you"
                                  class="tooltipped">Private</span>
                        {% endif %}
                    </div>
                    {% if list.owner_cached == user and list.archived_fighters_cached.count > 0 %}
                        <div>
                            <i class="bi-archive"></i>
                            <a href="{% url 'core:list-archived-fighters' list.id %}" class="linked">
                                {{ list.archived_fighters_cached.count }} archived fighter{{ list.archived_fighters_cached.count|pluralize }}
                            </a>
                        </div>
                    {% endif %}
                    {% if list.narrative %}
                        <div>
                            <i class="bi-file-text"></i>
                            <a class="linked" href="{% url 'core:list-about' list.id %}">About</a>
                        </div>
                    {% endif %}
                    {% if list.is_campaign_mode and list.original_list %}
                        <div>
                            <i class="bi-copy"
                               data-bs-toggle="tooltip"
                               data-bs-title="This list was created via cloning"></i>
                            Cloned from <a href="{% url 'core:list' list.original_list.id %}" class="linked">{{ list.original_list.name }}</a>
                        </div>
                        {% if list.campaign %}
                            <div>
                                <i class="bi-award"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="Active in Campaign"></i>
                                Active in
                                <a href="{% url 'core:campaign' list.campaign.id %}" class="linked">{{ list.campaign.name }}</a>
                                {% if list.campaign.is_pre_campaign %}
                                    <span class="badge bg-secondary ms-1">Pre-Campaign</span>
                                {% elif list.campaign.is_in_progress %}
                                    <span class="badge bg-success ms-1">In Progress</span>
                                {% elif list.campaign.is_post_campaign %}
                                    <span class="badge bg-secondary ms-1">Post-Campaign</span>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if list.is_list_building and list.active_campaign_clones.exists %}
                        <div>
                            <i class="bi-award"
                               data-bs-toggle="tooltip"
                               data-bs-title="Active in Campaign"></i>
                            <a href="{% url 'core:list-campaign-clones' list.id %}" class="linked">Active in Campaigns</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="ms-sm-auto mt-2 mt-sm-0">
                {% if not print %}
                    <nav class="nav btn-group flex-nowrap">
                        {% if list.owner_cached == user and not list.archived %}
                            <a href="{% url 'core:list-fighter-new' list.id %}"
                               class="btn btn-primary btn-sm">
                                <i class="bi-person-add"></i> Add fighter</a>
                            <a href="{% url 'core:list-edit' list.id %}"
                               class="btn btn-secondary btn-sm">
                                <i class="bi-pencil"></i> Edit
                            </a>
                        {% endif %}
                        <div class="btn-group" role="group">
                            <button type="button"
                                    class="btn btn-secondary btn-sm dropdown-toggle"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <i class="bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'core:list-print' list.id %}"
                                       class="dropdown-item icon-link">
                                        <i class="bi-printer"></i> Print
                                    </a>
                                </li>
                                <li>
                                    <button type="button"
                                            class="dropdown-item icon-link"
                                            data-bs-toggle="offcanvas"
                                            data-bs-target="#embedOffcanvas"
                                            aria-controls="embedOffcanvas">
                                        <i class="bi-person-bounding-box"></i> Embed
                                    </button>
                                </li>
                                <li>
                                    <a href="{% url 'core:list-clone' list.id %}"
                                       class="dropdown-item icon-link">
                                        <i class="bi-copy"></i> Clone
                                    </a>
                                </li>
                                {% if list.owner_cached == user %}
                                    <li>
                                        <a href="{% url 'core:list-show-stash' list.id %}"
                                           class="dropdown-item icon-link">
                                            <i class="bi-plus-circle"></i> Show Stash
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'core:list-archive' list.id %}"
                                           class="dropdown-item icon-link">
                                            <i class="bi-archive"></i>
                                            {% if list.archived %}
                                                Unarchive
                                            {% else %}
                                                Archive
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="grid {% if print %}gap-2{% endif %}">
        {% if not print %}
            {% include "core/includes/list_campaign_actions.html" with list=list %}
            {% include "core/includes/list_campaign_resources_assets.html" with list=list campaign_resources=campaign_resources held_assets=held_assets %}
            {% include "core/includes/list_attributes.html" with list=list attributes=attributes %}
        {% endif %}
        {% for fighter in list.fighters_cached %}
            {% if fighter.is_stash %}
                {% include "core/includes/fighter_card_stash.html" with fighter=fighter list=list print=print %}
            {% else %}
                {% include "core/includes/fighter_card.html" with fighter=fighter list=list print=print %}
            {% endif %}
        {% empty %}
            <div class="g-col-12 py-2 hstack gap-2 align-items-center">
                This List is empty.
                {% if not print and list.owner_cached == user and not list.archived %}
                    <a href="{% url 'core:list-fighter-new' list.id %}"
                       class="btn btn-primary"><i class="bi-person-add"></i> Add a fighter</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="offcanvas offcanvas-end"
         tabindex="-1"
         id="embedOffcanvas"
         aria-labelledby="embedOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="embedOffcanvasLabel">Embed Code</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group">
                <p>Copy the code below and paste it into your website to embed the fighter card.</p>
                <p>
                    The embed page contains the <a href="https://iframe-resizer.com/" target="new">iframe-resizer</a> child page code so you use the <a href="https://iframe-resizer.com/setup/parent/" target="new">parent page code</a> if you want.
                </p>
                <p>
                    Add <code>?theme=light</code> or <code>?theme=dark</code> to the URL to force a particular theme.
                </p>
                {% for fighter in list.fighters_cached %}
                    <li class="list-group-item vstack gap-2">
                        <h3 class="h6 mb-0">{{ fighter.name }}</h3>
                        {% url 'core:list-fighter-embed' list.id fighter.id as embed_url %}
                        {% fullurl embed_url as full_embed_url %}
                        <div>
                            <code>&lt;iframe style="width: 100%; max-width: 400px;" src="{{ full_embed_url }}?theme=auto"&gt;&lt;/iframe&gt;</code>
                        </div>
                        <div class="hstack align-items-center gap-2">
                            <button class="btn btn-outline-secondary btn-sm"
                                    data-clipboard-text="&lt;iframe style=&quot;width: 100%; max-width: 400px;&quot; src=&quot;{{ full_embed_url }}?theme=auto&quot;&gt;&lt;/iframe&gt;"
                                    data-clipboard-message="copied-{{ fighter.id }}">
                                <i class="bi-clipboard"></i> Copy
                            </button>
                            <p class="d-none text-secondary mb-0" id="copied-{{ fighter.id }}">
                                Copied <i class="bi-check2"></i>
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
