{% load allauth custom_tags %}
<div>
    <div class="vstack gap-0 mb-2">
        <div class="hstack gap-2 mb-2 align-items-start align-items-md-center">
            <div class="d-flex flex-column flex-md-row flex-grow-1 align-items-start align-items-md-center gap-2">
                <h2 class="mb-0">{{ list.name }}</h2>
                <div class="ms-md-auto">{{ list.content_house.name }}</div>
                <div class="h5 mb-0">
                    <div class="badge text-bg-primary">{{ list.cost_int }}¢</div>
                </div>
            </div>
            <div class="ms-auto flex-shrink-0">
                {% if not print %}
                    {% if list.owner == user %}
                        <a href="{% url 'core:list-edit' list.id %}"
                           class="btn btn-outline-secondary btn-sm">
                            <i class="bi-pencil"></i> Edit
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row row-gap-1 column-gap-2 align-items-sm-center">
            <div class="d-flex flex-column flex-sm-row flex-wrap row-gap-1 column-gap-2">
                <div class="text-secondary">
                    <i class="bi-person"></i> {{ list.owner }}
                </div>
                {% if not print %}
                    <div class="text-secondary">
                        {% if list.public %}
                            <i class="bi-eye"></i>
                            <a data-bs-toggle="tooltip"
                               data-bs-title="This list is visible to all users"
                               href="#"
                               class="link-secondary link-underline-opacity-25 link-underline-opacity-100-hover">Public</a>
                        {% endif %}
                        {% if list.owner == user and not list.public %}
                            <i class="bi-eye-slash"></i>
                            <a data-bs-toggle="tooltip"
                               data-bs-title="This list is only visible to you"
                               href="#"
                               class="link-secondary link-underline-opacity-25 link-underline-opacity-100-hover">
                                Private
                            </a>
                        {% endif %}
                    </div>
                    {% if list.archived_fighters|length > 0 %}
                        <div class="text-secondary">
                            <i class="bi-archive"></i>
                            <a href="{% url 'core:list-archived-fighters' list.id %}"
                               class="link-secondary link-underline-opacity-25 link-underline-opacity-100-hover">
                                {{ list.archived_fighters|length }} archived fighter{{ list.archived_fighters|length|pluralize }}
                            </a>
                        </div>
                    {% endif %}
                    {% if list.narrative %}
                        <div class="text-secondary">
                            <i class="bi-file-text"></i>
                            <a class="link-secondary link-underline-opacity-25 link-underline-opacity-100-hover"
                               href="{% url 'core:list-about' list.id %}">About</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="ms-sm-auto mt-2 mt-sm-0">
                {% if not print %}
                    <nav class="nav btn-group">
                        {% if list.owner == user %}
                            <a href="{% url 'core:list-fighter-new' list.id %}"
                               class="btn btn-primary btn-sm">
                                <i class="bi-person-add"></i> Add fighter</a>
                        {% endif %}
                        <a href="{% url 'core:list-print' list.id %}"
                           class="btn btn-outline-secondary btn-sm">
                            <i class="bi-printer"></i> Print
                        </a>
                        {% if list.owner == user %}
                            <a href="#" class="btn btn-outline-danger btn-sm disabled">
                                <i class="bi-archive"></i> Archive
                            </a>
                        {% endif %}
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="grid">
        {% for fighter in list.fighters %}
            {% include "core/includes/fighter_card.html" with fighter=fighter list=list print=print %}
        {% empty %}
            <div class="g-col-12 py-2">This List is empty.</div>
        {% endfor %}
    </div>
</div>
