{% for stat in fighter.statline %}
    <td class="text-center {% if print %}fs-10{% else %}fs-7{% endif %} {% if stat.highlight %}bg-warning-subtle{% endif %} {{ stat.classes }}">
        {% if stat.modded %}
            <span bs-tooltip
                  data-bs-toggle="tooltip"
                  class="tooltipped"
                  title="Modified by equipment, accessories, upgrades, or manually">{{ stat.value }}</span>
        {% else %}
            {{ stat.value }}
        {% endif %}
    </td>
{% endfor %}
