{% load allauth custom_tags %}
{% if mode == 'add' %}
    {% for assign in weapons %}
        <form action="{% url 'core:list-fighter-weapons-edit' list.id fighter.id %}"
              method="post"
              id="weapon-{{ assign.equipment.id }}"
              class="d-none">
            {% csrf_token %}
            <input type="hidden"
                   name="content_equipment"
                   value="{{ assign.equipment.id }}">
            {% comment %} Propagate the query params {% endcomment %}
            {% if request.GET.filter %}<input type="hidden" name="filter" value="{{ request.GET.filter }}">{% endif %}
            {% if request.GET.q %}<input type="hidden" name="q" value="{{ request.GET.q }}">{% endif %}
        </form>
    {% endfor %}
{% endif %}
<table class="table table-sm table-borderless mb-0 fs-7">
    <thead class="table-group-divider">
        <tr>
            <th scope="col">
                Weapons
                {% if mode == "gear" %}
                    <a href="{% url 'core:list-fighter-weapons-edit' list.id fighter.id %}"
                       class="fw-normal">Edit weapons</a>
                {% endif %}
            </th>
            <th class="text-center" scope="col">S</th>
            <th class="text-center" scope="col">L</th>
            <th class="text-center border-start" scope="col">S</th>
            <th class="text-center" scope="col">L</th>
            <th class="text-center border-start" scope="col">Str</th>
            <th class="text-center" scope="col">Ap</th>
            <th class="text-center" scope="col">D</th>
            <th class="text-center" scope="col">Am</th>
        </tr>
    </thead>
    {% for assign in weapons %}
        <tbody class="table-group-divider {% flash assign.id %}"
               id="assign-{{ assign.id }}">
            <!-- {{ assign.id }} ({{ assign.kind }}) -->
            {% comment %} Base-case: one profile for the weapon {% endcomment %}
            {% if assign.all_profiles_cached|length == 1 %}
                {% with assign.all_profiles_cached.0 as profile %}
                    <tr class="align-top">
                        <td rowspan="{% if profile.traitline|length > 0 %}2{% else %}1{% endif %}">
                            {% include "core/includes/list_fighter_weapon_assign_name.html" with assign=assign %}
                        </td>
                        {% include "core/includes/list_fighter_weapon_profile_statline.html" with profile=profile %}
                    </tr>
                    {% if profile.traitline|length > 0 %}
                        <tr>
                            <td colspan="9">{{ profile.traitline|join:", " }}</td>
                        </tr>
                    {% endif %}
                {% endwith %}
            {% else %}
                {% comment %} First profile is named, so we need to add a title row {% endcomment %}
                {% if assign.standard_profiles_cached.0.name != "" %}
                    <tr class="align-bottom">
                        <td colspan="9">{% include "core/includes/list_fighter_weapon_assign_name.html" with assign=assign %}</td>
                    </tr>
                {% endif %}
                {% for profile in assign.standard_profiles_cached %}
                    <tr class="align-top">
                        <td rowspan="{% if profile.traitline|length > 0 %}2{% else %}1{% endif %}">
                            {% comment %} The first, standard profile is not named so inline the weapon name {% endcomment %}
                            {% if forloop.counter0 == 0 and profile.name == "" %}
                                {% include "core/includes/list_fighter_weapon_assign_name.html" with assign=assign %}
                            {% elif profile.name != "" %}
                                <i class="bi-dash"></i> {{ profile.name }}
                            {% endif %}
                        </td>
                        {% include "core/includes/list_fighter_weapon_profile_statline.html" with profile=profile %}
                    </tr>
                    {% if profile.traitline|length > 0 %}
                        <tr>
                            <td colspan="9">{{ profile.traitline|join:", " }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% comment %} Non-standard profile(s) {% endcomment %}
                {% for pd in assign.weapon_profiles_display %}
                    <tr class="align-top">
                        <td rowspan="{% if pd.profile.traitline|length > 0 %}2{% else %}1{% endif %}">
                            {% if mode == 'add' %}
                                <div class="form-check">
                                    <input type="checkbox"
                                           name="weapon_profiles_field"
                                           value="{{ pd.profile.id }}"
                                           id="profile-{{ pd.profile.id }}"
                                           form="weapon-{{ assign.equipment.id }}"
                                           class="form-check-input">
                                    <label class="form-check-label" for="profile-{{ pd.profile.id }}">
                                        {{ pd.profile.name }}
                                        {% if pd.cost_int > 0 %}({{ pd.cost_display }}){% endif %}
                                    </label>
                                </div>
                            {% else %}
                                <i class="bi-dash"></i>
                                {{ pd.profile.name }}
                                {% if not assign.has_total_cost_override %}
                                    {% if pd.cost_int > 0 %}({{ pd.cost_display }}){% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                        {% include "core/includes/list_fighter_weapon_profile_statline.html" with profile=pd.profile %}
                    </tr>
                    {% if pd.profile.traitline|length > 0 %}
                        <tr>
                            <td colspan="9">{{ pd.profile.traitline|join:", " }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if assign.weapon_accessories_display|length > 0 %}
                {% for ad in assign.weapon_accessories_display %}
                    <tr>
                        <td colspan="9">
                            <i class="bi-dash"></i>
                            <i class="bi-crosshair"></i>
                            {{ ad.accessory.name }}
                            {% if not assign.has_total_cost_override %}
                                {% if ad.cost_int > 0 %}({{ ad.cost_display }}){% endif %}
                            {% endif %}
                            {% if mode == 'edit' and assign.kind == 'assigned' %}
                                <a href="{% url 'core:list-fighter-weapon-accessory-delete' list.id fighter.id assign.id ad.accessory.id %}"
                                   class="ms-auto link-danger">Remove</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if mode == 'add' %}
                {% if assign.upgrades_display|length > 0 %}
                    <tr>
                        <td colspan="9">{% include "core/includes/list_fighter_weapon_assign_upgrade_form.html" with assign=assign %}</td>
                    </tr>
                {% endif %}
            {% endif %}
            {% if assign.active_upgrade_cached %}
                <tr>
                    <td colspan="9">
                        <i class="bi-dash"></i>
                        <i class="bi-arrow-up-circle"></i>
                        {{ assign.equipment.upgrade_stack_name }}:
                        {{ assign.active_upgrade_cached.name }}
                        {% if not assign.has_total_cost_override %}
                            {% if assign.active_upgrade_cached.cost_int_cached > 0 %}(+{{ assign.active_upgrade_cached.cost_display }}){% endif %}
                        {% endif %}
                        {% if mode == 'edit' and assign.kind == 'assigned' %}
                            <a href="{% url 'core:list-fighter-gear-upgrade-delete' list.id fighter.id assign.id assign.active_upgrade_cached.id %}"
                               class="ms-auto link-danger">Remove</a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if mode == 'add' %}
                <tr>
                    <td colspan="9">
                        <div class="d-flex btn-group">
                            <button type="submit"
                                    class="btn btn-outline-primary btn-sm"
                                    form="weapon-{{ assign.equipment.id }}">
                                <i class="bi-plus"></i>
                                Add {{ assign.base_name }}
                            </button>
                        </div>
                    </td>
                </tr>
            {% endif %}
            {% if mode == 'edit' and assign.kind == 'assigned' %}
                <tr>
                    <td colspan="9" class="text-end">
                        <div class="d-flex btn-group">
                            <a href="{% url 'core:list-fighter-weapon-accessories-edit' list.id fighter.id assign.id %}"
                               class="btn btn-outline-secondary btn-sm">
                                <i class="bi-crosshair"></i>
                                <span class="d-none d-sm-inline">Accessories</span>
                            </a>
                            {% if assign.upgrades_display|length > 0 %}
                                <a href="{% url 'core:list-fighter-weapon-upgrade-edit' list.id fighter.id assign.id %}"
                                   class="btn btn-outline-secondary btn-sm">
                                    <i class="bi-arrow-up-circle"></i>
                                    <span class="d-none d-sm-inline">{{ assign.equipment.upgrade_stack_name }}</span>
                                </a>
                            {% endif %}
                            <a href="{% url 'core:list-fighter-weapon-cost-edit' list.id fighter.id assign.id %}"
                               class="btn btn-outline-secondary btn-sm col-2 col-sm-3 flex-grow-0">
                                <span class="d-none d-sm-inline"><i class="bi-pencil"></i> Cost</span>
                                <span class="d-inline d-sm-none fw-bold">¢</span>
                            </a>
                            <a href="{% url 'core:list-fighter-weapon-delete' list.id fighter.id assign.id %}"
                               class="btn btn-outline-danger btn-sm col-2 col-sm-3 flex-grow-0">
                                <i class="bi-trash"></i>
                                <span class="d-none d-sm-inline">Remove</span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    {% empty %}
        <tbody>
            <tr>
                <td colspan="9">
                    <span class="text-secondary">This fighter has no weapons.</span>
                </td>
            </tr>
        </tbody>
    {% endfor %}
</table>
