{% load allauth custom_tags %}
<div>
    <div class="vstack gap-1 mb-2">
        <h2>{{ list.name }}</h2>
        <div>{{ list.content_house.name }}</div>
        <div class="text-secondary">
            <i class="bi-person"></i> {{ list.owner_cached }}
        </div>
    </div>
    <nav class="nav card card-body flex-column mb-3 p-2">
        <a class="nav-link p-2 py-1" href="#about-list">Overview</a>
        {% for fighter in list.active_fighters %}
            {% if fighter.narrative %}
                <a class="nav-link p-2 py-1" href="#about-{{ fighter.id }}">{{ fighter.name }}</a>
            {% endif %}
        {% endfor %}
    </nav>
    <div id="list-overview">
        <div class="hstack">
            <h3 class="h4" id="about-list">Overview</h3>
            {% if list.owner_cached == user %}
                <div class="ms-auto">
                    <a href="{% url 'core:list-edit' list.id %}"
                       class="btn btn-outline-secondary btn-sm">
                        <i class="bi-pencil"></i> Edit
                    </a>
                </div>
            {% endif %}
        </div>
        {% if list.narrative %}
            {{ list.narrative|safe }}
        {% elif list.owner_cached == user %}
            <div class="text-muted fst-italic">
                No narrative added yet. <a href="{% url 'core:list-edit' list.id %}">Add one</a> to tell the story of your gang.
            </div>
        {% else %}
            <div class="text-muted fst-italic">No narrative added yet.</div>
        {% endif %}
    </div>
    <div class="grid auto-flow-dense">
        {% for fighter in list.active_fighters %}
            {% if fighter.narrative %}
                <div class="g-col-12 g-col-md-6" id="about-{{ fighter.id }}">
                    <div class="hstack">
                        <h3 class="h4">{{ fighter.fully_qualified_name }}</h3>
                        {% if list.owner_cached == user %}
                            <div class="ms-auto">
                                <a href="{% url 'core:list-fighter-narrative-edit' list.id fighter.id %}"
                                   class="btn btn-outline-secondary btn-sm">
                                    <i class="bi-pencil"></i> Edit
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    {{ fighter.narrative|safe }}
                </div>
            {% elif list.owner_cached == user %}
                <div class="g-col-12 g-col-md-6" id="about-{{ fighter.id }}">
                    <div class="hstack">
                        <h3 class="h4">{{ fighter.fully_qualified_name }}</h3>
                        <div class="ms-auto">
                            <a href="{% url 'core:list-fighter-narrative-edit' list.id fighter.id %}"
                               class="btn btn-outline-secondary btn-sm">
                                <i class="bi-plus"></i> Add About
                            </a>
                        </div>
                    </div>
                    <div class="text-muted fst-italic">No narrative added yet.</div>
                </div>
            {% endif %}
            {% include "core/includes/fighter_card.html" with fighter=fighter list=list print=True classes="g-col-12 g-col-md-6" %}
        {% empty %}
            <div class="g-col-12 py-2">This List is empty.</div>
        {% endfor %}
    </div>
</div>
