{% load allauth custom_tags humanize %}
<div class="card g-col-12 {% if print %}g-col-sm-6 g-col-md-4 g-col-xl-3{% else %}g-col-md-12 g-col-lg-6 g-col-xl-4{% endif %}">
    <div class="card-header p-2 bg-secondary-subtle text-secondary-emphasis">
        <h3 class="h5 mb-0">Attributes</h3>
    </div>
    <div class="card-body {% if print %}p-0{% else %}p-2{% endif %}">
        {% if list.all_attributes %}
            <table class="table table-sm mb-0 fs-7">
                <tbody>
                    {% for attribute in list.all_attributes %}
                        <tr>
                            <td>{{ attribute.name }}</td>
                            <td>
                                {% if attribute.assignments %}
                                    {{ attribute.assignments|join:", " }}
                                {% else %}
                                    <span class="text-muted">Not set</span>
                                {% endif %}
                            </td>
                            {% if not print %}
                                <td class="text-end">
                                    {% if list.owner_cached == user and not list.archived %}
                                        <a href="{% url 'core:list-attribute-edit' list.id attribute.id %}"
                                           class="icon-link link-secondary link-sm">
                                            <i class="bi-{% if attribute.assignments %}pencil{% else %}plus{% endif %}"
                                               aria-hidden="true"></i>
                                            {% if attribute.assignments %}
                                                Edit
                                            {% else %}
                                                Add
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-muted fs-7 mb-0">No attributes available.</p>
        {% endif %}
    </div>
</div>
