{% load allauth custom_tags %}
<div>
    <div class="vstack gap-1 mb-2">
        <h2>{{ list.name }}</h2>
        <div>{{ list.content_house_name }}</div>
        <div class="text-secondary">
            <i class="bi-person"></i>
            <a href="{% url 'core:user' list.owner_cached.username %}"
               class="link-secondary link-underline-opacity-25 link-underline-opacity-100-hover">{{ list.owner_cached }}</a>
        </div>
    </div>
    <div class="d-flex gap-2 mb-3">
        <a href="{% url 'core:list-about' list.id %}"
           class="btn btn-outline-secondary btn-sm">
            <i class="bi-file-text"></i> About
        </a>
        <a href="{% url 'core:list-notes' list.id %}"
           class="btn btn-secondary btn-sm">
            <i class="bi-journal-text"></i> Notes
        </a>
    </div>
    <nav class="nav card card-body flex-column mb-3 p-2">
        <a class="nav-link p-2 py-1" href="#notes-list">Overview</a>
        {% for fighter in list.active_fighters %}
            {% if fighter.private_notes %}
                <a class="nav-link p-2 py-1" href="#notes-{{ fighter.id }}">{{ fighter.name }}</a>
            {% endif %}
        {% endfor %}
    </nav>
    <div id="list-overview">
        <div class="hstack">
            <h3 class="h4" id="notes-list">Overview</h3>
            {% if list.owner_cached == user %}
                <div class="ms-auto">
                    <a href="{% url 'core:list-edit' list.id %}"
                       class="btn btn-outline-secondary btn-sm">
                        <i class="bi-pencil"></i> Edit
                    </a>
                </div>
            {% endif %}
        </div>
        {% if list.notes %}
            {{ list.notes|safe_rich_text|safe }}
        {% elif list.owner_cached == user %}
            <div class="text-muted fst-italic">
                No notes added yet. <a href="{% url 'core:list-edit' list.id %}">Add some</a> to keep track of your gang.
            </div>
        {% else %}
            <div class="text-muted fst-italic">No notes added yet.</div>
        {% endif %}
    </div>
    <div class="grid auto-flow-dense">
        {% for fighter in list.active_fighters %}
            {% if fighter.private_notes %}
                <div class="g-col-12 g-col-md-6" id="notes-{{ fighter.id }}">
                    <div class="hstack">
                        <h3 class="h4">{{ fighter.fully_qualified_name }}</h3>
                        {% if list.owner_cached == user %}
                            <div class="ms-auto">
                                <a href="{% url 'core:list-fighter-notes-edit' list.id fighter.id %}"
                                   class="btn btn-outline-secondary btn-sm">
                                    <i class="bi-pencil"></i> Edit
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    {{ fighter.private_notes|safe_rich_text|safe }}
                </div>
            {% else %}
                <div class="g-col-12 g-col-md-6" id="notes-{{ fighter.id }}">
                    <div class="hstack">
                        <h3 class="h4">{{ fighter.fully_qualified_name }}</h3>
                    </div>
                    <p class="text-muted">No notes added yet.</p>
                    {% if list.owner_cached == user %}
                        <p>
                            <a href="{% url 'core:list-fighter-notes-edit' list.id fighter.id %}"
                               class="btn btn-outline-secondary btn-sm">
                                <i class="bi-plus"></i> Add notes for {{ fighter.name }}
                            </a>
                        </p>
                    {% endif %}
                </div>
            {% endif %}
            {% include "core/includes/fighter_card.html" with fighter=fighter list=list print=True classes="g-col-12 g-col-md-6" %}
        {% empty %}
            <div class="g-col-12 py-2">This List is empty.</div>
        {% endfor %}
    </div>
</div>
