<thead class="table-group-divider">
    <tr>
        <th scope="col">{{ first_col|default:"" }}</th>
        <th class="text-center" scope="col">S</th>
        <th class="text-center" scope="col">L</th>
        <th class="text-center border-start" scope="col">S</th>
        <th class="text-center" scope="col">L</th>
        <th class="text-center border-start" scope="col">Str</th>
        <th class="text-center" scope="col">Ap</th>
        <th class="text-center" scope="col">D</th>
        <th class="text-center" scope="col">Am</th>
    </tr>
</thead>
