{% extends "core/layouts/base.html" %}
{% load allauth custom_tags %}
{% block head_title %}
    Log Action - {{ campaign.name }}
{% endblock head_title %}
{% block content %}
    {{ form.media }}
    {% include "core/includes/back.html" with text="Back" %}
    <div class="col-12 col-md-8 col-lg-6 px-0 vstack gap-3">
        <h1 class="h3">Log Action</h1>
        <h2 class="h5 text-muted">{{ campaign.name }}</h2>
        <form action="{% url 'core:campaign-action-new' campaign.id %}"
              method="post"
              class="vstack gap-3">
            {% csrf_token %}
            {% return_url_field %}
            {% include "core/includes/form_field.html" with field=form.list %}
            {% include "core/includes/form_field.html" with field=form.battle %}
            {% include "core/includes/form_field.html" with field=form.description %}
            {% include "core/includes/form_field.html" with field=form.dice_count %}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Log Action</button>
                {% include "core/includes/cancel.html" %}
            </div>
        </form>
    </div>
{% endblock content %}
