{% extends "core/layouts/base.html" %}
{% load allauth custom_tags %}
{% block head_title %}
    Add {{ asset_type.name_singular }} - {{ campaign.name }}
{% endblock head_title %}
{% block content %}
    {{ form.media }}
    {% url 'core:campaign-assets' campaign.id as back_url %}
    {% include "core/includes/back.html" with url=back_url text="Back to Assets" %}
    <div class="col-12 col-md-8 col-lg-6 px-0 vstack gap-3">
        <h1 class="h3">Add {{ asset_type.name_singular }}</h1>
        <h2 class="h5 text-muted">{{ campaign.name }}</h2>
        <form action="{% url 'core:campaign-asset-new' campaign.id asset_type.id %}"
              method="post"
              class="vstack gap-3">
            {% csrf_token %}
            {% include "core/includes/form_field.html" with field=form.name %}
            {% include "core/includes/form_field.html" with field=form.description %}
            {% if form.holder %}
                {% include "core/includes/form_field.html" with field=form.holder %}
            {% endif %}
            {% include "core/campaign/includes/asset_properties_fields.html" %}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary" name="save">Create {{ asset_type.name_singular }}</button>
                or
                <button type="submit" class="btn btn-secondary" name="save_and_add_another">Create and add another</button>
                <a href="{% url 'core:campaign-assets' campaign.id %}"
                   class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
