{% extends "core/layouts/base.html" %}
{% load custom_tags %}
{% block head_title %}
    Edit {{ content_fighter.type }} - {{ pack.name }}
{% endblock head_title %}
{% block content %}
    {% include "core/includes/back.html" with url=back_url text=pack.name %}
    <div class="vstack gap-3">
        <h1 class="h3">
            <i class="bi-person"></i> Edit {{ content_fighter.type }}
        </h1>
        {% include "core/pack/includes/pack_item_edit_tabs.html" with active_tab="equipment" %}
    </div>
    <div class="row">
        <!-- Preview card (mobile: first, desktop: right column) -->
        <div class="col-12 col-xl-5 order-xl-last mb-3 mb-xl-0 ps-xl-4">
            {% include "core/pack/includes/fighter_preview_card.html" %}
        </div>
        <!-- Content (mobile: second, desktop: left column) -->
        <div class="col-12 col-xl-7">
            {% include "core/pack/includes/fighter_default_equipment.html" %}
            {% include "core/pack/includes/fighter_equipment_list.html" %}
        </div>
    </div>
{% endblock content %}
