{% extends "core/layouts/base.html" %}
{% load allauth pages %}
{% block head_title %}
    {{ flatpage.title }}
{% endblock head_title %}
{% block content %}
    <div class="row">
        {% pages_path_segment flatpage.url 0 as prefix %}
        {% get_pages prefix for user as flatpages %}
        {% if flatpages|length > 1 %}
            <div class="col-md-3 order-md-1">
                <h1 class="h2">{{ flatpage.title }}</h1>
                <hr class="col-1 my-4" />
                <ul class="nav flex-column mt-3">
                    {% for page in flatpages %}
                        <li style="padding-left:{% page_depth page %}em">
                            {% if page == flatpage %}
                                <span class="text-decoration-underline">{{ page.title }}</span>
                            {% else %}
                                <a href="{{ page.url }}">{{ page.title }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="col-md-9 order-md-2">{{ flatpage.content }}</div>
    </div>
{% endblock content %}
