{% extends "platform/layouts/base.html" %}
{% load platform_tags %}
{% block head_title %}Error 404{% endblock head_title %}
{% block content %}
    {% if request.edition == "n26" %}
        {% url 'n26-dashboard' as home_url %}
    {% else %}
        {% url 'core:index' as home_url %}
    {% endif %}
    <div class="mx-auto max-w-xl space-y-6 py-16 text-center">
        <h1 class="text-6xl font-semibold text-red-600 dark:text-red-400">404</h1>
        <h2 class="text-2xl font-semibold">Page not found</h2>
        <p data-test-id="the-joke" class="text-muted">{% random_404_message %}</p>
        <div class="flex items-center justify-center gap-4">
            <c-n26.link href="{% safe_referer home_url %}">Back</c-n26.link>
            <c-ui.button href="{{ home_url }}" variant="primary">
                Home
            </c-ui.button>
        </div>
    </div>
{% endblock content %}
