{% extends "core/layouts/foundation.html" %}
{% load static custom_tags %}
{% block base %}
    <a class="visually-hidden-focusable" href="#content">Skip to main content</a>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'core:index' %}">
                <img src="{% static 'core/img/brand/logo-gold-transparent-bg.svg' %}"
                     alt="Logo"
                     width="24"
                     height="24"
                     class="d-inline-block align-text-top">
            </a>
            <div class="d-flex">
                <a class="btn btn-dark {% active_view 'core:dice' %}"
                   {% active_aria 'core:dice' %}
                   href="{% url 'core:dice' %}?m=d6&d=1">
                    <i class="bi-dice-6"></i>
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% active_view 'core:index' %}"
                           {% active_aria 'core:index' %}
                           href="{% url 'core:index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">Content</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item {% active_view 'core:content-gangs' %}"
                                   {% active_aria 'core:content-gangs' %}
                                   href="{% url 'core:content-gangs' %}">Gangs &amp; Fighters</a>
                            </li>
                            <li>
                                <a class="dropdown-item {% active_view 'core:content-equipment' %}"
                                   {% active_aria 'core:content-equipment' %}
                                   href="{% url 'core:content-equipment' %}">Equipment</a>
                            </li>
                            <li>
                                <a class="dropdown-item {% active_view 'core:content-index' %}"
                                   {% active_aria 'core:content-index' %}
                                   href="{% url 'core:content-index' %}">Index</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% active_view 'core:lists' %}"
                           {% active_aria 'core:lists' %}
                           href="{% url 'core:lists' %}">Lists</a>
                    </li>
                </ul>
                <div class="d-flex flex-column flex-sm-row gap-2">
                    {% if user.is_authenticated %}
                        <a href="{% url 'account_email' %}" class="btn btn-outline-light">
                            <i class="bi bi-gear"></i>
                            {{ user.username }}
                        </a>
                        <a href="{% url 'account_logout' %}" class="btn btn-danger">Sign Out</a>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="btn btn-outline-light">Sign In</a>
                        {% url 'account_signup' as signup_url_ %}
                        {% if signup_url_ %}<a href="{{ signup_url_ }}" class="btn btn-success">Sign Up</a>{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div class="modal fade"
         id="dice"
         data-bs-backdrop="static"
         tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">
                        <i class="dice-6"></i> Dice Roller
                    </h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">...</div>
            </div>
        </div>
    </div>
    {% block body %}
        {% block content %}
        {% endblock content %}
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}
    <footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
        <div class="container py-4 py-md-5 text-body-secondary">
            <div class="row">
                <div class="col-lg-3 mb-3">
                    <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none"
                       href="{% url 'core:index' %}"
                       aria-label="Gyrinx">
                        <img src="{% static 'core/img/brand/logo-gold-transparent-bg.svg' %}"
                             alt="Logo"
                             width="24"
                             height="24"
                             class="d-inline-block align-text-top me-1">
                        <span class="fs-5">Gyrinx</span>
                    </a>
                    <ul class="list-unstyled small">
                        <li class="mb-2">Designed and built in the UK.</li>
                        <li class="mb-2">
                            <a href="#"
                               class="link-secondary link-underline-opacity-0 link-underline-opacity-75-hover">Privacy</a>
                        </li>
                        <li class="mb-2">
                            <a href="#"
                               class="link-secondary link-underline-opacity-0 link-underline-opacity-75-hover">Security</a>
                        </li>
                        <li class="mb-2">
                            <a href="https://github.com/gyrinx-app"
                               target="_new"
                               class="link-secondary">
                                <i class="bi-github"></i>
                                <span class="visually-hidden">GitHub</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock base %}
