{% with id=widget.attrs.id %}
    <div {% if id %}id="{{ id }}"{% endif %}
         {% if widget.attrs.class %}class="{{ widget.attrs.class }}"{% endif %}>
        {# djlint:off #}
        <div class="d-grid"
             style="grid-template-columns: repeat(6, 2.5rem);
                    gap: 0.35rem"
             role="radiogroup"
             aria-label="Color selection">
            {% for group, options, index in widget.optgroups %}
                {% for option in options %}
                    {% if not option.color or option.color == "#fefdfb" %}
                        <div class="d-flex" style="grid-column: span 3">
                            {% include option.template_name with widget=option index=index wide=True %}
                        </div>
                    {% else %}
                        {% include option.template_name with widget=option index=index %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        {# djlint:on #}
    </div>
{% endwith %}
