name: Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: ["main"]
  merge_group:

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  test:
    runs-on: [gyrinx-ubuntu-2]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Cache pip
        id: cache-pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m venv .venv && \
          . .venv/bin/activate && \
          pip install --editable .

      - name: Write to .env file
        run: |
          echo "SECRET_KEY=test-secret" >> .env
          echo "DJANGO_SUPERUSER_PASSWORD=password" >> .env

      - name: Run tests in parallel
        timeout-minutes: 60
        run: ./scripts/test.sh --parallel --durations=20 -v

      - name: Run Bandit security scan
        run: |
          source .venv/bin/activate && \
          bandit -c pyproject.toml -r . --baseline bandit/bandit-baseline.json
